.mediaGalery {
    /*height: calc(100vh - var(--router-outlet-offset) - 25px); */
    margin-left: var(--list-toggler-width);
    /* width: calc(100% - var(--list-toggler-width)); */
    height: 100%;
}

.img-container {
    position: relative;
    display: inline-block;
}
.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 170, 170);
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.img-container:hover .overlay {
    opacity: 1;
}
.overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
