{% extends 'admin/master.html' %}
{% block body %}
  <p>Charger des données</p>
  <form method="POST" action="" enctype="multipart/form-data">
    <div>
      <input type="file" name="file">
      <p><small>Charger un fichier geojson valide</small></p>
    </div>
    <div>
      <label>Programme dans lequel charger les données</label>
      <select id="program" name="program">
        {% for p in programs %}
        <option value={{ p.id_program }}>{{ p.title }}</option>
        {% endfor %}
      </select>
      <p><small></small></p>
    </div>
    <div>
      <label>Type de sites</label>
      <select id="site_type" name="site_type">
        {% for st in site_types %}
        <option value={{ st.id_typesite }}>{{ st.type }}</option>
        {% endfor %}
      </select>
      <p><small></small></p>
    </div>
    <div>
      <label>Nom du champ "name"</label>
      <select id="feature_name" name="feature_name">
      </select>
      <p><small>Charger le geojson pour choisir un champ</small></p>
    </div>
    <div><input type="submit" value="Importer"></div>
  </form>

  <script>
    const populateOptions = (select, options) => {
      for (let o of options) {
        let option = document.createElement('option');
        option.value = o;
        option.text = o;
        select.appendChild(option);
      }
    };

    let selectFeatureName = document.querySelectorAll('select#feature_name')[0];

    let inputFile = document.querySelectorAll('input[name="file"]')[0];
    inputFile.addEventListener('change',
      (e) => {
        let file = inputFile.files[0];
        file.text().then(
          t => {
            if ('features' in JSON.parse(t)) {
              if ('properties' in JSON.parse(t).features[0]) {
                populateOptions(
                  selectFeatureName,
                  Object.keys(JSON.parse(t).features[0].properties)
                );
              }
            }
          }
        )
      }
    );

    // let programSelect = document.querySelectorAll('select[name="program"]')[0];
    // // document.addEventListener('DOMContentLoaded',
    // //   populateOptions(programSelect, {{ programs|safe }});
    // // );

  </script>
{% endblock %}