{% extends 'admin/master.html' %}
{% block body %}
  <h2>Import de données géographiques dans des sites et des rapports de visites</h2>
  <form method="POST" action="" enctype="multipart/form-data">
    {% if success %}
    <div class="alert alert-success" role="alert">
      <p>Les sites ont été importés.</p>
      <p>Vous pouvez les vérifier dans la table des <a href="../sitemodel/">sites</a> et, éventuellement, des <a href="../visitmodel/">visites</a>.</p>
    </div>
    {% endif %}
    <h3>1. Commencez par charger un fichier de données géographiques au format geojson</h3>
    <div>
      <input required="required" type="file" name="file">
      <p><small>Charger un fichier geojson valide, dans le système de coordonnées WGS84 (long, lat)</small></p>
    </div>
    <div>
      <p><span id="geojson_count"></span></p>
    </div>
    <h3>2. Choisissez ensuite les paramètres de l'import</h3>
    <div class="mt-3 mb-4">
      <label><b>Nom de l'utilisateur</b></label>
      <input id="username" name="username">
      <p><small>Nom d'utilisateur qui réalise l'import, ou bien source des données. C'est le nom d'utilisateur qui apparaitra pour chaque site importé. Ex: "import géoportail"</small></p>
    </div>
    <div class="mt-3 mb-4">
      <label><b>Programme dans lequel charger les données</b></label>
      <select id="program" name="program">
        {% for p in programs %}
        <option value={{ p.id_program }}>{{ p.title }}</option>
        {% endfor %}
      </select>
      <p><small></small></p>
    </div>
    <div class="mt-3 mb-4">
      <label><b>Type de sites</b></label>
      <select id="site_type" name="site_type">
        {% for st in site_types %}
        <option value={{ st.id_typesite }}>{{ st.type }}</option>
        {% endfor %}
      </select>
      <p><small></small></p>
    </div>
    <div class="mt-3 mb-4">
      <label><b>Nom du champ "name"</b></label>
      <select required="required" id="feature_name" name="feature_name">
      </select>
      <p><small>Nom du champ du geojson qui contient le nom du site, s'il existe.</small></p>
      <p><small>/!\ Charger d'abord le geojson pour choisir un champ!</small></p>
    </div>
    <div class="mt-3 mb-4">
      <p><b>Correspondance des champs pour les "visits"</b></p>
      <div class="ml-5">
        <span>Nom du champ du geojson   </span> ->
        <span>Nom du champ du formulaire</span>
      </div>
      <ul id="fieldMappingList">
      </ul>
      <a id="addFieldMappingButton" class="btn btn-outline-secondary">Ajouter une correspondance</a>
      <p><small>Pour chaque champ du geojson, on peut renseigner un champ présent dans les formulaires custom du programme. Par ex., le champ "H" du geojson correspond au champ "hauteur" du formulaire.</small></p>
      <p><small>/!\ Charger d'abord le geojson pour choisir un champ!</small></p>
    </div>

    <h3>3. Lancer l'import</h3>
    <div class="mb-5">
      <input type="submit" value="Importer">
      <p><small>Lancer l'import. Vous pouvez vérifier les résultats dans les pages Sites et Visites de l'interface admin.</small></p>
    </div>
  </form>

  <script>
    let geojsonFields;

    const populateOptions = (select, options) => {
      for (let o of options) {
        let option = document.createElement('option');
        option.value = o;
        option.text = o;
        select.appendChild(option);
      }
    };

    let selectFeatureName = document.querySelectorAll('select#feature_name')[0];

    let inputFile = document.querySelectorAll('input[name="file"]')[0];
    inputFile.addEventListener('change',
      (e) => {
        let file = inputFile.files[0];
        file.text().then(
          t => {
            let content = JSON.parse(t);
            if ('features' in content) {
              if ('properties' in content.features[0]) {
                geojsonFields = Object.keys(content.features[0].properties);
                populateOptions(
                  selectFeatureName,
                  Object.keys(content.features[0].properties)
                );
              }
            }
            let geojson_count = document.querySelectorAll('span#geojson_count')[0];
            geojson_count.innerHTML = `-> <b>${content.features.length}</b> élément(s) vont être importés`;
          }
        )
      }
    );

    let fieldMappingList = document.querySelectorAll('ul#fieldMappingList')[0];

    const addFieldMapping = () => {
        let li = document.createElement('li');

        let leftInput = document.createElement('select');
        leftInput.setAttribute('id', 'left_input');
        leftInput.setAttribute('name', `field_mapping_left_${fieldMappingList.children.length}`);
        populateOptions(leftInput, geojsonFields);

        let rightInput = document.createElement('input');
        rightInput.setAttribute('type', 'text');
        rightInput.setAttribute('name', `field_mapping_right_${fieldMappingList.children.length}`);
        li.append(leftInput, ' -> ', rightInput);
        fieldMappingList.appendChild(li);
    };

    let addFieldMappingButton = document.querySelectorAll('a#addFieldMappingButton')[0];
    addFieldMappingButton.addEventListener('click', (e) =>
      addFieldMapping()
    );


  </script>
{% endblock %}