export const AppConfig = {
    appName: "GeoNature-citizen",
    API_ENDPOINT:"http://localhost:5002/api",
    API_TAXHUB:"http://localhost:5000/api",
    FRONTEND:{
        PROD_MOD:true,
        MULTILINGUAL:false,
        DISPLAY_FOOTER: true,
        DISPLAY_TOPBAR: false,
        DISPLAY_SIDEBAR: true
    },
    about: true,
    URL_APPLICATION:"http://127.0.0.1:4200",
    REWARDS: true,
    termsOfUse: {
      fr: "assets/cgu.pdf",
      en: "assets/termsOfUse.pdf"
    },
    signup:true,
    email_contact:false,
    platform_intro: {
      fr: "Bienvenue<br /> sur GeoNature Citizen",
      en: "Welcome<br /> on GeoNature Citizen"
    },
    platform_teaser: {
      fr: "Hae duae provinciae bello quondam piratico catervis mixtae praedonum a Servilio pro consule missae sub iugum factae sunt vectigales. et hae quidem regiones velut in prominenti terrarum lingua positae ob orbe eoo monte Amano disparantur.",
      en: "Hae duae provinciae bello quondam piratico catervis mixtae praedonum a Servilio pro consule missae sub iugum factae sunt vectigales. et hae quidem regiones velut in prominenti terrarum lingua positae ob orbe eoo monte Amano disparantur."
      },
    platform_participate: {
      fr: "PARTICIPER AU PROGRAMME",
      en: "PARTICIPATE"
    },
    program_share_an_observation: {
      fr: "PARTAGER UNE OBSERVATION",
      en: "SHARE AN OBSERVATION"
    },
    program_add_an_observation: {
      fr: "AJOUTER UNE OBSERVATION",
      en: "CONTRIBUTE AN OBSERVATION"
    },
    program_allow_email_contact: {
      fr: "J'accepte que mon adresse e-mail puisse être utilisée pour recontacter à propos de mon observation",
      en : "I agree that my e-mail address can be used to recontact about my observation"
    },
    taxonSelectInputThreshold: 7,
    taxonAutocompleteInputThreshold: 12,
    taxonAutocompleteFields: [
      "nom_complet",
      "nom_vern",
      "nom_vern_eng",
      "cd_nom"
    ],
    program_list_sort: "-timestamp_create"
}
