<div id="mapList">
  <div class="toolbar">
    <!-- <select class="form-control rounded-0 col-lg-6" id="inputSpecies"> -->
    <select
      class="form-control rounded-0"
      id="inputSpecies"
      [(ngModel)]="selectedTaxon"
      (ngModelChange)="onFilterChange()"
    >
      <option [ngValue]="null">Toutes espèces</option>
      <option *ngFor="let s of surveySpecies" [ngValue]="s">
        {{ s.nom.nom_francais }} (<i>{{ s.taxref.nom_complet }}</i
        >)
      </option>
    </select>

    <select
      id="municipality"
      name="municipality"
      type="text"
      class="form-control rounded-0 col-lg-6"
      [(ngModel)]="selectedMunicipality"
      (ngModelChange)="onFilterChange()"
    >
      <option [ngValue]="null">Toutes communes</option>
      <option *ngFor="let t of municipalities" [ngValue]="t">{{
        t.name
      }}</option>
    </select>
  </div>
  <div class="obs-found">
    <p i18n>{{ observationList?.length }} observations trouvées !</p>
  </div>
  <div id="list">
    <div
      *ngFor="let o of observationList"
      class="espece obs-{{ o.properties.id_observation }}"
      (click)="onObsClick(o)"
    >
      <img
        [src]="
          o.properties.images && o.properties.images[0]
            ? AppConfig.API_ENDPOINT + '/media/' + o.properties.images[0]
            : o.properties.image
            ? o.properties.image
            : 'assets/Azure-Commun-019.JPG'
        "
      />
      <div class="infos">
        <h5>{{ o.properties.common_name }}</h5>
        <p i18n>
          Observé par
          <span>{{
            o.properties.observer.username
              ? o.properties.observer.username
              : "Anonyme"
          }}</span>
        </p>
        <p i18n>
          le <span>{{ o.properties.date }}</span> à
          <span>{{ o.properties.municipality.name || "?" }}</span>
        </p>
      </div>
      <div class="hide"><img src="assets/binoculars.png" /></div>
    </div>
  </div>
</div>
