<div class="container" id="main">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="user"></div>
        <div class="user-infos">
          <span>{{ "30" }} observations</span> <img src="assets/user.jpg" />
          <p>
            {{ username }} <a href="#"><!-- <i class="fa fa-pencil"></i> --></a>
          </p>
        </div>
      </div>
      <section id="badges">
        <h3>Vos badges</h3>
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <img src="assets/badges_Plante.svg" alt="Badge Plante" />
            <img src="assets/badges_Insecte.svg" alt="Badge Insecte" />
            <img
              src="assets/badges_Petit-mam.svg"
              alt="Badge Petit mammifère"
            />
            <img src="assets/badges_Oiseau.svg" alt="Badge Oiseau" />
            <img
              src="assets/badges_Grand-mam.svg"
              alt="Badge Grand mammifère"
            />
            <img
              src="assets/badges_Oiseau-proie.svg"
              alt="Badge Oiseau de proie"
            />
          </div>
          <div class="col-lg-4 col-sm-12">
            <img src="assets/badges_Humide.svg" alt="Badge Zone humide" />
            <img src="assets/badges_Vallee.svg" alt="Badge Vallée" />
            <img src="assets/badges_Montagne.svg" alt="Badge Montagne" />
            <img src="assets/badges_Haute.svg" alt="Badge Haute-montagne" />
          </div>
          <div class="col-lg-4 col-sm-12">
            <img src="assets/badges_Novice.svg" alt="Badge Novice" />
            <img src="assets/badges_Confirme.svg" alt="Badge Confirmé" />
            <img src="assets/badges_Expert.svg" alt="Badge Expert" />
          </div>
        </div>
      </section>

      <section class="personal-data row">
        <button
          class="btn-big col-lg-3 col-md-5 col-sm-12"
          (click)="exportPersonalData()"
        >
          <i class="fa fa-download"></i>Exporter mes données personnelles
        </button>
        <button
          class="btn-big col-lg-3 col-md-5 col-sm-12"
          (click)="deletePersonalData()"
        >
          <i class="fa fa-trash"></i>Supprimer mes données personnelles
        </button>
      </section>
    </div>
  </div>
</div>
