<div class="container" id="main">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="user"></div>
                <div class="user-infos">
                    <span>
                        <button *ngIf="stats?.platform_attendance > 0" (click)="tab = 'observations'" [class]="
                                'btn ' +
                                (tab === 'observations'
                                    ? 'btn-primary'
                                    : 'btn-dark')
                            ">
                            Mes observations
                            <strong class="badge badge-pill badge-info">{{
                                stats?.platform_attendance
                                }}</strong>
                        </button>
                        <button *ngIf="mysites?.features.length > 0" (click)="tab = 'sites'" [class]="
                                'btn ml-1 ' +
                                (tab === 'sites' ? 'btn-primary' : 'btn-dark')
                            ">
                            Mes sites
                            <strong class="badge badge-pill badge-info">{{
                                mysites?.features.length
                                }}</strong>
                        </button>
                    </span>
                    <div class="avatar-main-wrapper">
                        <div *ngIf="!userAvatar" class="profile-pic" (click)="onEditInfos(personalInfos)"></div>
                        <div *ngIf="userAvatar" class="profile-pic-background" (click)="onEditInfos(personalInfos)"
                            [ngStyle]="{'background-image': 'url(' + userAvatar + ')'}"></div>
                    </div>
                    <p (click)="onEditInfos(personalInfos)">
                        {{ username }} <i class="fa fa-pencil"></i>
                    </p>
                </div>
            </div>
            <div *ngIf="badges && badges.length > 0" id="badges" class="container">
                <h3 class="title" i18n="My badges@@myBadges">Mes badges</h3>
                <div *ngIf="main_badges && main_badges.length > 0" class="inner-row">
                    <h5 i18n="General Awards@@generalAwards">
                        Récompenses géneral
                    </h5>
                    <div class="row">
                        <img *ngFor="let m_badge of main_badges" loading="lazy"
                            [src]="MainConfig.API_ENDPOINT + m_badge.url" [alt]="m_badge.type + m_badge.name"
                            [ngbTooltip]="
                                m_badge.reward_label + ' ' + m_badge.name
                            " />
                    </div>
                </div>
                <div *ngIf="programs_badges && programs_badges.length > 0" class="inner-row">
                    <h5>Récompenses par programmes</h5>
                    <div class="row">
                        <img *ngFor="let p_badge of programs_badges" loading="lazy"
                            [src]="MainConfig.API_ENDPOINT + p_badge.url" [alt]="p_badge.type + p_badge.name"
                            [ngbTooltip]="
                                p_badge.reward_label + ' ' + p_badge.name
                            " />
                    </div>
                </div>
                <div *ngIf="recognition_badges && recognition_badges.length > 0" class="inner-row">
                    <h5>Récompenses d'identification d'espèces</h5>
                    <div class="row">
                        <img *ngFor="let r_badge of recognition_badges" loading="lazy"
                            [src]="MainConfig.API_ENDPOINT + r_badge.url" [alt]="r_badge.type + r_badge.name"
                            [ngbTooltip]="
                                r_badge.reward_label + ' ' + r_badge.name
                            " />
                    </div>
                </div>
            </div>
            <user-sites [mysites]="mysites" *ngIf="mysites && tab === 'sites'">
            </user-sites>
            <user-observations [myobs]="myobs" *ngIf="observations && tab === 'observations'"
                (deleteObs)="openDeleteModal(deleteModal, $event)">
            </user-observations>
            <div class="personal-data row">
                <button class="btn-big col-lg-3 col-md-5 col-sm-12 export" (click)="onExportPersonalData()">
                    <i class="fa fa-download"></i><ng-container
                        i18n="Export personnal data btn@@exportPersonnalDataBtn">Exporter mes données
                        personnelles</ng-container>
                </button>
                <button class="btn-big col-lg-3 col-md-5 col-sm-12 export" (click)="onExportObservations()">
                    <i class="fa fa-download"></i><ng-container
                        i18n="Export personnal observations btn@@exportPersonnalObsBtn">Exporter mes
                        observations</ng-container>
                </button>
                <button class="btn-big col-lg-3 col-md-5 col-sm-12 export" (click)="onExportSites()">
                    <i class="fa fa-download"></i><ng-container
                        i18n="Export personnal sites btn@@exportPersonnalSitesBtn">Exporter mes sites</ng-container>
                </button>
                <button class="btn-big btn-danger col-lg-3 col-md-5 col-sm-12" (click)="onDeletePersonalData()">
                    <i class="fa fa-trash"></i><ng-container i18n="Delete Account@@deleteAccount">Supprimer mon
                        compte</ng-container>
                </button>
            </div>
            <section class="homeLink">
                <a [routerLink]="['/']">
                    <i class="fa fa-arrow-left"></i>
                    <ng-container i18n="back@@back"></ng-container>Retour au
                    site
                </a>
            </section>
        </div>
    </div>
</div>

<ng-template #personalInfos let-modal>
    <div class="modal-header">
        <h4 i18n="Update personnal data@@updatePersonnalData">
            Mettre à jour vos données personnelles
        </h4>
        <button type="button" class="close rounded-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
            &times;
        </button>
    </div>
    <div class="modal-body">
        <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}
        </ngb-alert>
        <form [formGroup]="userForm" (ngSubmit)="userForm.valid && onUpdatePersonalData(userForm.value)">
            <div class="d-flex justify-content-center">
                <div class="avatar-wrapper">
                    <div *ngIf="!userAvatar" class="profile-pic"></div>
                    <img *ngIf="userAvatar" class="profile-pic" src="{{ userAvatar }}" />
                    <div class="upload-button" (click)="fileToUpload.click()">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <input #fileToUpload type="file" accept="image/*" (change)="onUploadAvatar($event)"
                        class="file-upload" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="username" i18n="your username@@yourUsernameLabel">Votre nom d'utilisateur *</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" id="username" formControlName="username" class="form-control rounded-0"
                                i18n-placeholder="
                                    your username
                                    placeholder@@yourUsernameInputPlaceholder"
                                placeholder="Entrez votre nom d'utilisateur" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="email" i18n="your email label@@yourEmailInputLabel">Votre email *</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control rounded-0" formControlName="email" id="email"
                                i18n-placeholder="
                                    your email
                                    placeholder@@yourEmailInputPlaceholder" placeholder="Entrez votre email" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="name" i18n="your first name@@yourFirstnameInputLabel">Votre prénom *</label>
                        <input type="text" class="form-control rounded-0" id="name" formControlName="name"
                            i18n-placeholder="
                                your first name
                                placeholder@@yourFirstnameInputPlaceholder" placeholder="Entrez votre prénom" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="surname" i18n="your surname label@@yourSurnameInputLabel">Votre nom *</label>
                        <input type="text" class="form-control rounded-0" id="surname" formControlName="surname"
                            i18n-placeholder="
                                your surname
                                placeholder@@yourSurnameInputPlaceholder" placeholder="Entrez votre nom" />
                    </div>
                </div>
            </div>
            <ngb-alert [dismissible]="false" type="danger" *ngIf="
                    (userForm.get('confirmPassword').errors ||
                        userForm.get('newPassword').errors) &&
                    userForm.get('confirmPassword').dirty
                " i18n="error different passwords@@errorDifferentPasswords">
                Les mots de passe diffèrent.
            </ngb-alert>
            <div class="form-row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="newPassword" i18n="your password label@@yourPasswordLabel">Votre nouveau mot de
                            passe</label>
                        <input type="password" name="newPassword" class="form-control rounded-0" id="newPassword"
                            formControlName="newPassword" i18n-placeholder="
                                your password
                                placeholder@@yourPasswordPlaceholder" placeholder="Votre nouveau mot de passe"
                            autocomplete="new-password" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="confirmPassword" i18n="
                                your password confirm
                                label@@yourConfirmPasswordLabel">Confirmez votre nouveau mot de passe</label>
                        <input type="password" id="confirmPassword" formControlName="confirmPassword" autocomplete=""
                            i18n-placeholder="
                                your password confirm
                                placeholder@@yourConfirmPasswordPlaceholder" placeholder="Votre nouveau mot de passe"
                            class="form-control rounded-0" />
                        <p *ngIf="
                                userForm.errors &&
                                userForm.errors.MatchPassword &&
                                userForm.controls.confirmPassword.dirty
                            " class="danger">
                            * Le mot de passe n'est pas identique.
                        </p>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-big btn-outline-primary rounded-0"
                i18n="update personnal data btn@@updatePersonnalDataBtn" [disabled]="userForm.invalid">
                Mettre à jour
            </button>
        </form>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-delete-header">
        <h5 class="modal-delete-title"><i class="fa fa-trash"></i></h5>
    </div>
    <div class="modal-delete-body">
        Êtes-vous sûr de vouloir supprimer cette observation ?
        <br />
        Sa suppression sera définitive
    </div>
    <div class="modal-delete-footer">
        <button type="button" class="cancel-btn" style="margin-right: 15px" (click)="onCancelDelete()">
            ANNULER
        </button>
        <button type="button" class="green-btn" (click)="onDeleteObs()">
            OUI
        </button>
    </div>
</ng-template>

<ng-template #siteDeleteModal let-modal>
    <div class="modal-delete-header">
        <h5 class="modal-delete-title"><i class="fa fa-trash"></i></h5>
    </div>
    <div class="modal-delete-body">
        Êtes-vous sûr de vouloir supprimer ce site et toutes les informations
        qui y sont rattachées ?
        <br />
        La suppression sera définitive
    </div>
    <div class="modal-delete-footer">
        <button type="button" class="cancel-btn" style="margin-right: 15px" (click)="onSiteCancelDelete()">
            ANNULER
        </button>
        <button type="button" class="green-btn" (click)="onDeleteSite()">
            OUI
        </button>
    </div>
</ng-template>

<div *ngIf="!observations" id="spinner">
    <span class="loader"></span>
</div>
