<div class="container" id="main">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="user"></div>
        <div class="user-infos">
          <span i18n>{ +stats?.platform_attendance, plural, =0 { aucune observation} =1
            {une observation} other
            {{{stats?.platform_attendance}} observations} }</span>
          <div class="avatar-main-wrapper">
            <div *ngIf="!userAvatar" class="profile-pic" (click)="onEditInfos(personalInfos)" ></div>
            <img *ngIf="userAvatar" class="profile-pic" src="{{userAvatar}}" (click)="onEditInfos(personalInfos)" />
          </div>
          <p (click)="onEditInfos(personalInfos)">{{ username }} <i class="fa fa-pencil"></i></p>
        </div>
      </div>
      <div id="myObs" class="container">
        <h3 class="title" i18n>Mes observations</h3>
        <ngx-datatable *ngIf="observations" class="material" [rows]="rows" [headerHeight]="40" [footerHeight]="40"
          [limit]="7" [rowHeight]="'auto'" [reorderable]="reorderable" [scrollbarH]="true"  [selectionType]="'single'">
          <ngx-datatable-column name="Photo" prop="media_url">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <img class="main-photo img-fluid" src="{{row.media_url}}" alt="">
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Espèce" prop="taxref" width="200">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.taxref.nom_vern}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date" prop="date">
          </ngx-datatable-column>
          <ngx-datatable-column name="Lieu" prop="municipality" width="160">
          </ngx-datatable-column>
          <ngx-datatable-column name="Programme" prop="program" width="200">
          </ngx-datatable-column>
          <ngx-datatable-column>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <app-modalflow [coords]="row.coords" [updateData]="row" [program_id]="row.program_id"></app-modalflow>
              <button class="btn btn-danger" placement="top" ngbTooltip="Supprimer"  (click)="openDeleteModal(deleteModal,row.id_observation )" ><i class="fa fa-trash"></i></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
      <div *ngIf="badges && badges.length > 0 " id="badges" class="container">
        <h3 class="title" i18n>Mes badges</h3>
        <div *ngIf="main_badges && main_badges.length > 0 " class="inner-row">
          <h5 i18n>Récompenses géneral</h5>
          <div class="row">
            <img *ngFor="let m_badge of main_badges" [src]="appConfig.API_ENDPOINT + m_badge.url"
              [alt]="m_badge.type + m_badge.name" [ngbTooltip]="m_badge.reward_label +' '+ m_badge.name" />
          </div>
        </div>
        <div *ngIf="programs_badges && programs_badges.length > 0 " class="inner-row">
          <h5>Récompenses par programmes</h5>
          <div class="row">
            <img *ngFor="let p_badge of programs_badges" [src]="appConfig.API_ENDPOINT + p_badge.url"
              [alt]="p_badge.type + p_badge.name" [ngbTooltip]="p_badge.reward_label +' '+ p_badge.name" />
          </div>
        </div>
        <div *ngIf="recognition_badges && recognition_badges.length > 0 " class=" inner-row">
          <h5>Récompenses d'identification d'espèces</h5>
          <div class="row">
            <img *ngFor="let r_badge of recognition_badges" [src]="appConfig.API_ENDPOINT + r_badge.url"
              [alt]="r_badge.type + r_badge.name" [ngbTooltip]="r_badge.reward_label +' '+ r_badge.name" />
          </div>
        </div>
      </div>

      <div class="personal-data row">
        <button class="btn-big col-lg-3 col-md-5 col-sm-12 export" (click)="onExportPersonalData()" i18n>
          <i class="fa fa-download"></i>Exporter mes données personnelles
        </button>
        <button class="btn-big col-lg-3 col-md-5 col-sm-12 export" (click)="onExportObservations()" i18n>
          <i class="fa fa-download"></i>Exporter mes observations
        </button>
        <button class="btn-big btn-danger col-lg-3 col-md-5 col-sm-12" (click)="onDeletePersonalData()" i18n>
          <i class="fa fa-trash"></i>Supprimer mes données personnelles
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #personalInfos let-modal>
  <div class="modal-header">
    <h4 i18n>Mettre à jour vos données personnelles</h4>
    <button type="button" class="close rounded-0" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}
    </ngb-alert>
    <form [formGroup]="userForm" (ngSubmit)="userForm.valid && onUpdatePersonalData(userForm.value)">
      <div class="d-flex justify-content-center">
        <div class="avatar-wrapper">
          <div *ngIf="!userAvatar" class="profile-pic" ></div>
          <img *ngIf="userAvatar" class="profile-pic" src="{{userAvatar}}" />
          <div class="upload-button" (click)="fileToUpload.click()">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
          </div>
          <input #fileToUpload type="file" accept="image/*" (change)="onUploadAvatar($event)" class="file-upload" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="username" i18n>Votre nom d'utilisateur *</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input type="text" id="username" formControlName="username" class="form-control rounded-0"
                i18n-placeholder placeholder="Entrez votre nom d'utilisateur" />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="email" i18n>Votre email *</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control rounded-0" formControlName="email" id="email" i18n-placeholder
                placeholder="Entrez votre email" />
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="name" i18n>Votre prénom *</label>
            <input type="text" class="form-control rounded-0" id="name" formControlName="name" i18n-placeholder
              placeholder="Entrez votre prénom" />
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="surname" i18n>Votre nom *</label>
            <input type="text" class="form-control rounded-0" id="surname" formControlName="surname" i18n-placeholder
              placeholder="Entrez votre nom" />
          </div>
        </div>
      </div>
      <ngb-alert [dismissible]="false" type="danger" *ngIf="
          (userForm.get('confirmPassword').errors || userForm.get('newPassword').errors) && userForm.get('confirmPassword').dirty
        " i18n>
        Les mots de passe diffèrent.
      </ngb-alert>
      <div class="form-row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="newPassword" i18n>Votre nouveau mot de passe</label>
            <input type="password" name="newPassword" class="form-control rounded-0" id="newPassword"
              formControlName="newPassword" i18n-placeholder placeholder="Votre nouveau mot de passe"
              autocomplete="new-password" />
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="confirmPassword" i18n>Confirmez votre nouveau mot de passe</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" autocomplete=""
              class="form-control rounded-0" />
            <p *ngIf="userForm.errors && userForm.errors.MatchPassword && userForm.controls.confirmPassword.dirty"
              class="danger">* Le mot de passe n'est pas identique.</p>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-default btn-big btn-outline-primary rounded-0" i18n
        [disabled]="userForm.invalid">
        Mettre à jour
      </button>
    </form>
  </div>
</ng-template>




<ng-template #deleteModal let-modal>
    <div class="modal-delete-header">
      <h5 class="modal-delete-title"><i class="fa fa-trash"></i></h5>
    </div>
    <div class="modal-delete-body">
      Êtes-vous sûr de vouloir supprimer cette observation ?
      <br>
      Sa suppression sera définitive
    </div>
    <div class="modal-delete-footer">
      <button type="button" class="cancel-btn" style="margin-right: 15px" (click)="onCancelDelete()">ANNULER</button>
      <button type="button" class="green-btn" (click)="onDeleteObs()">OUI</button>
    </div>
  </ng-template>

<div *ngIf="!observations" id="spinner">
  <div class="loader-1"></div>
  <div class="loader-2"></div>
  <div class="loader-3"></div>
</div>


