.navbar {
  min-height: 100px;
  background-color: #fefefe;
  /* color: #60a3bc; */
  color: #00a99d;
  /* border-bottom: 1px solid #60a3bc; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: var(--primary);
}

.main {
  margin-top: 60px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

main {
  margin-top: 60px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

form {
  display: flex;
  align-items: baseline;
}

.btn-group li, .btn-group a{
  min-width: 140px !important;
  text-align: center;
  transition: all .1s ease-in-out;
}

.btn-group a:hover {
  font-weight: bold;
}

ul.btn-group li a, div.btn-group a{
  color: #666565;
  font-size: 14px;
  padding: 6px 10px;
  position: relative;
}

ul.btn-group li a.active{
  color : var(--primary);
  font-weight: bold;
}

ul.btn-group li a.active:before{
  content : '■ ';
  color: var(--primary);
}

div.btn-group{
  display: flex;
  flex-direction: column;
  border-left: solid 1px;
  border-color: var(--primary);
  margin-left: 50px;
}

div.btn-group a{
  background: none !important;
  padding-left: 5px;
  text-align: left;
  padding: 0px 6px;
}

div.btn-group a:first-child{
  color: var(--primary);
  font-weight: bold;
}

 @media screen and (max-width: 992px){
  /* FIXME: la nav bar ne se referme qu'à 768, pourquoi 912 ? */
   .navbar-collapse form{
    justify-content: flex-end;
  }

  .navbar-collapse form div.btn-group a{
    text-align: right !important;
    width: fit-content;
    min-width: inherit !important;
  }

  ul.btn-group{
    padding: 0px;
  }
  ul.btn-group li{
    min-width: 120px !important;
    max-width: 120px !important;
  }
} 

 @media screen and (max-width: 800px) {
    div.btn-group{
      margin-left: 10px;
    }
} 
