<header>
  <nav class="navbar navbar-expand-sm fixed-top">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample03" style="">
      <div class="navbar-nav mr-auto">
      </div>
      <form class="form-inline mt-2 mt-md-0">
        <a href="/login" class="btn btn-outline-primary my-2 my-sm-0">Se connecter&nbsp;<i class="fa fa-fw fa-user-circle"></i></a>
      </form>
    </div>
  </nav>
</header>
