<header>
  <nav class="navbar navbar-expand-sm fixed-top">
    <a class="navbar-brand" routerLink="">{{title}}</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample03" style="">
      <div class="navbar-nav mr-auto">
      </div>
      <div *ngIf="isLoggedIn; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <form class="form-inline mt-2 mt-md-0">
          Bienvenue&nbsp;<a routerLink="mydashboard" placement="bottom" ngbTooltip="Mon tableau de bord">{{username}}</a>&nbsp;
          <button class="btn btn-outline-primary my-2 my-sm-0 rounded-0" (click)="logout()">Se
            déconnecter&nbsp;<i class="fa fa-fw fa-user-circle"></i></button>
        </form>
      </ng-template>
      <ng-template #elseBlock>
        <form class="form-inline mt-2 mt-md-0">
          <div class="btn-group" role="group" aria-label="auth">
            <button class="btn btn-outline-primary my-2 my-sm-0 rounded-0" (click)="login()">Se
              connecter&nbsp;<i class="fa fa-fw fa-user-circle"></i></button>
            <button class="btn btn-outline-primary my-2 my-sm-0 rounded-0" (click)="register()">S'enregistrer&nbsp;<i class="fa fa-fw fa-user-circle"></i></button>
          </div>
        </form>
      </ng-template>
    </div>
  </nav>
</header>
