<div class="router-app d-flex flex-column justify-content-between">
    <header>
        <app-topbar
            class="fixed-top"
            [displayTopbar]="MainConfig.FRONTEND.DISPLAY_TOPBAR"
        ></app-topbar>
        <!-- <app-sidebar></app-sidebar> -->
    </header>
    <div
        [ngClass]="
            MainConfig.FRONTEND.DISPLAY_TOPBAR
                ? 'app-with-topbar'
                : 'app-no-topbar'
        "
    >
        <div class="container-fluid"><router-outlet></router-outlet></div>
    </div>
    <app-footer *ngIf="MainConfig.FRONTEND.DISPLAY_FOOTER"></app-footer>
</div>
