exclude: ".venv|__pycache__|tests/dev/|tests/fixtures/"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
      - id: check-case-conflict
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black

  # - repo: https://github.com/pycqa/isort
  #   rev: 5.13.2
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black", "--filter-files"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^pyqgis_resource_browser/.*\.py$
        additional_dependencies: ["flake8-qgis<2"]
        args:
          [
            "--config=setup.cfg",
            "--select=E9,F63,F7,F82,QGS101,QGS102,QGS103,QGS104,QGS106",
          ]
  - repo: local
    hooks:
      - id: generate-requirements
        name: Generate Python Requirements
        entry: |
          bash -c "cd backend && \
            poetry export -f requirements.txt -o requirements.txt --without-hashes && \
            poetry export -f requirements.txt --only=dev -o requirements-dev.txt --without-hashes && \
            poetry export -f requirements.txt --only=docs -o requirements-docs.txt --without-hashes"
        language: system
        types: [python]

ci:
  autoupdate_schedule: quarterly
  skip: []
  submodules: false
