<div class="row">
    <section>
      <h1>Bienvenue<br> sur Geonature Citizen</h1>
      <a class="btn-big">Participer au programme</a>
      <span>Scrollez pour en voir plus !</span>
    </section>

    <section id="slide">
      <div id="slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <h2>Les éspèces observées en ce moment</h2>
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
            <div class="carousel-text-container">
              <div class="carousel-text">
                <h3>Nom éspèce</h3>
                <p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.
                </p>
                <p class="mobile-hidden">Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.
                </p>
                <a class="btn-big">Partager une observation</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/faune-mercantour.jpg" alt="Second slide">
            <div class="carousel-text-container">
              <div class="carousel-text">
                <h3>Nom éspèce</h3>
                <p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
                <p class="mobile-hidden">Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
                <a class="btn-big">Partager une observation</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/d6537db628_117396_08-785.jpg" alt="Third slide">
            <div class="carousel-text-container">
              <div class="carousel-text">
                <h3>Nom éspèce</h3>
                <p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
                <p class="mobile-hidden">Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
                <a class="btn-big">Partager une observation</a>
              </div>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

    <!-- <section class="observations row">
        <h2>Les observations réalisées ces 7 derniers jours</h2>
      <div id="collapseExample" class="col-md-3">
          <div id="list" >
          <div class="espece">
            <a href="#"></a>
            <img class="d-block" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
            <div>
              <h5>Nom espèces</h5>
              <p>Observé par <span>John Doe</span></p>
              <p>le <span>21/07/2018</span></p>
            </div>
          </div>

          <div class="espece">
            <a href="#"></a>
            <img class="d-block" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
            <div>
              <h5>Nom espèces</h5>
              <p>Observé par <span>John Doe</span></p>
              <p>le <span>21/07/2018</span></p>
            </div>
          </div>

          <div class="espece">
            <a href="#"></a>
            <img class="d-block" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
            <div>
              <h5>Nom espèces</h5>
              <p>Observé par <span>John Doe</span></p>
              <p>le <span>21/07/2018</span></p>
            </div>
          </div>

          <div class="espece">
            <a href="#"></a>
            <img class="d-block" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
            <div>
              <h5>Nom espèces</h5>
              <p>Observé par <span>John Doe</span></p>
              <p>le <span>21/07/2018</span></p>
            </div>
          </div>

            <div class="espece">
              <a href="#"></a>
              <img class="d-block" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
              <div>
                <h5>Nom espèces</h5>
                <p>Observé par <span>John Doe</span></p>
                <p>le <span>21/07/2018</span></p>
              </div>
            </div>

            <div class="espece">
              <a href="#"></a>
              <img class="d-block" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
              <div>
                <h5>Nom espèces</h5>
                <p>Observé par <span>John Doe</span></p>
                <p>le <span>21/07/2018</span></p>
              </div>
            </div>

            <div class="espece">
              <a href="#"></a>
              <img class="d-block" src="../../assets/Azure-Commun-019.JPG" alt="First slide">
              <div>
                <h5>Nom espèces</h5>
                <p>Observé par <span>John Doe</span></p>
                <p>le <span>21/07/2018</span></p>
              </div>
            </div>
        </div>
        <div class="toggle-list col-sm-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <p><</p>
        </div>
      </div>



      <div class="col-md-9 col-xs-12" id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11616.473813521694!2d5.3625618500000005!3d43.29084099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1547032742765" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

    </section> -->
    <app-sights></app-sights>


<!--     <section>
      <div id="js-app-map" class="app-map container-fluid" v-bind:class="{'sidebar-collapsed': isSidebarCollapsed}">
        <div class="row h-100 position-relative">
            <div class="sidebar">
              <div class="filters">
                  <div no-body class="mb-1" v-for="(filter) in filters">
                      <div header-tag="header" class="p-1">
                          <button block href="#" v-b-toggle="'app_map_filter_' + filter.name" variant="primary" v-html="filter.label"></button>
                      </div>
                      <div :id="'app_map_filter_' + filter.name">
                          <div class="card-body">
                              <div vertical class="w-100">
                                  <button class="btn-block btn-primary inverse" v-for="item in filter.items" :pressed.sync="item.isSelected" v-on:click="onFilterClick(filter, item)" v-html="item.label"></button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="btn-toggle"></div>
            </div>
            <div class="col p-0">
              <div class="map-wrapper h-100" ref="map"></div>
            </div>
        </div>
      </div>
    </section> -->

<!--     <div class="row p-4">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Module 1</h4>
            <p class="card-text">
              Autem dolores perferendis non nemo laborum. Sed vel repellendus ab. Tempora pariatur est ab corporis
              consectetur qui voluptatem consequatur. Et qui velit rerum placeat sit.
              Perferendis ab minima ullam. Voluptatem amet voluptatem praesentium. Rem quia porro quidem harum.</p>
            <button routerLink="" class="btn btn-primary card-link">Card link</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Module 2</h4>
            <p class="card-text">
              Autem dolores perferendis non nemo laborum. Sed vel repellendus ab. Tempora pariatur est ab corporis
              consectetur qui voluptatem consequatur. Et qui velit rerum placeat sit.
              Perferendis ab minima ullam. Voluptatem amet voluptatem praesentium. Rem quia porro quidem harum.</p>
            <button routerLink="" class="btn btn-primary card-link">Card link</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Module 3</h4>
            <p class="card-text">
              Autem dolores perferendis non nemo laborum. Sed vel repellendus ab. Tempora pariatur est ab corporis
              consectetur qui voluptatem consequatur. Et qui velit rerum placeat sit.
              Perferendis ab minima ullam. Voluptatem amet voluptatem praesentium. Rem quia porro quidem harum.</p>
            <button routerLink="" class="btn btn-primary card-link">Card link</button>
          </div>
        </div>
      </div>
    </div> -->

</div>
