section {
  width: 100%;
  min-height: 70vh;
  position: relative;
  margin-bottom: 20px;
}

.section:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000056;
}

.collapse {
  transition-property: all;
  transition-property: transform;
  transition-duration: 0.2s;
}

/* .collapse:not(.show){
    transform: translateX(-100%) !important;
    display: block !important;
    z-index: 900;
} */

#welcome {
  background: url(../../assets/background.jpg) no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 113px);
}

#welcome:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 3%,
    rgba(0, 0, 0, 0.393) 99%,
    rgba(0, 0, 0, 0.452) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 3%,
    rgba(0, 0, 0, 0.393) 99%,
    rgba(0, 0, 0, 0.452) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 3%,
    rgba(0, 0, 0, 0.393) 99%,
    rgba(0, 0, 0, 0.452) 100%
  );
}

#welcome > h1 {
  padding-left: 50%;
  font-size: 60px;
}

#welcome > p {
  padding-left: 30%;
  font-size: 30px;
}

#welcome > h1,
#welcome > p {
  font-family: "Satisfy";
  margin-top: 30px;
  color: #fff;
  user-select: none;
}

#welcome a[role="button"] {
  position: absolute;
  bottom: 100px;
  right: 100px;
  background-color: var(--primary);
}

#welcome a.scroll {
  position: absolute;
  bottom: 0px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  font-size: 14px;
  background-color: transparent !important;
  width: fit-content;
  min-width: 100px;
  text-align: center;
}

#welcome .scroll img {
  width: 15px;
  height: auto;
  margin: auto;
}

/* CARDS */

#programs {
  display: flex;
  justify-content: center;
  min-height: inherit;
}

#programs-cards {
  display: inline-flex;
  flex-wrap: wrap;
  width: 85%;
}

#programs-cards .card {
  /* flex: 1 1 0; */
  margin: 10px auto; /*20px*/
  border-radius: 0px;
  width: 365px !important;
  height: 500px !important;
}
#programs-cards .card h3,
#programs-cards .card p {
  padding: 0px 10px;
}

#programs-cards .card .card-content {
  flex-grow: 1;
}

#programs-cards .card .card-body {
  height: 180px !important;
  overflow-y: auto;
  margin-bottom: 5px;
}
#programs-cards .card .card-body h1,
#programs-cards .card .card-body h3 {
  font-size: 16px;
}
#programs-cards .card img {
  max-height: 200px;
  object-fit: cover;
}
#programs-cards .card h3 {
  font-size: 1.2em;
}
#programs-cards .card a {
  background: var(--primary);
  margin: 0 auto;
  margin-bottom: 10px;
  flex-grow: 0;
  text-align: center;
}

/* SLIDER */
#slide {
  min-height: inherit !important;
  /* height: calc(100vh - var(--router-outlet-offset)); */
}

#programs #slider {
  display: none;
}

#slider .carousel-inner,
#slider .carousel-item {
  /* height: calc(100vh - var(--router-outlet-offset)); */
  max-height: 70vh;
}

#slider h2 {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 999;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

#slider h2:before {
  content: " ";
  position: absolute;
  width: 40px;
  height: 21px;
  transform: translateX(-125%);
  background: #fff;
}

#slider ol {
  width: 15%;
}

#slider
  ol.carousel-indicators
  li:not(.active):not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none !important;
}

#slider ol.carousel-indicators li {
  margin-top: 20px;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: transparent;
  border: solid 1px #fff;
}

#slider .carousel-text-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  max-width: 60%;
}

#slider .carousel-text {
  background-color: #fff;
  padding: 35px 20px 35px 35px;
  min-width: 450px;
  max-height: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slider .carousel-text div {
  max-height: 50%;
  overflow-y: auto;
  margin-bottom: 1em;
}

#slider .carousel-text h3 {
  font-family: "Satisfy";
  color: var(--ternary);
}

#slider .carousel-text > p {
  font-style: italic;
  font-size: 14px;
}

#slider .carousel-text a {
  background-color: var(--secondary);
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.mobile-hidden {
  /* overflow: hidden; */
  line-height: 22px;
}

.mobile-hidden h1,
.mobile-hidden h2,
.mobile-hidden h4,
.mobile-hidden h5,
.mobile-hidden h6 {
  font-size: 1rem;
  font-weight: normal;
}

app-observations {
  min-width: 100%;
}

/* SCROLLBAR CUSTOM */

::-webkit-scrollbar-thumb {
  background: var(--primary);
  width: 10px;
  border: 1px solid #eee;
  margin: 5px;
}
::-webkit-scrollbar {
  background: #eee;
  width: 10px;
  height: 10px;
  margin: 5px;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  #list .infos p {
    line-height: 18px;
    font-size: 14px;
  }
  #list .infos h5 {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1023px) {
  /* FIRST SECT */
  #welcome h1 {
    font-size: 44px !important;
    padding-left: 10% !important;
  }
  #welcome p {
    display: none;
  }
  #welcome a:first-child {
    padding: 10px 20px;
    right: 50% !important;
    transform: translateX(50%) !important;
  }
  /* SCND SECT */
  /* .mobile-hidden {
    display: none;
  } */

  #slider .carousel-text {
    padding: 10px;
  }

  #slider .carousel-text a {
    font-size: 16px;
  }

  #slider {
    display: block !important;
    width: 100%;
  }

  #programs-cards {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .toggle {
    display: none !important;
  }
  .side-bar,
  .map {
    position: static !important;
  }

  .map {
    height: auto;
    position: relative !important;
    left: 0% !important;
  }

  #list {
    /* top: 50% !important; */
    width: 100% !important;
  }
}

@media screen and (max-width: 760px) {
  #welcome a[role="button"] {
    left: 50%;
    transform: translateX(-50%);
  }

  #slider .carousel-inner {
    max-height: fit-content;
  }

  #slider .carousel-indicators {
    display: none;
  }

  #slider .carousel-control-next,
  #slider .carousel-control-prev {
    height: 260px;
  }

  #slider .carousel-text-container {
    position: relative !important;
    width: 100%;
    max-width: inherit !important;
  }

  #slider .carousel-text {
    width: 100%;
    padding: 20px;
    height: auto;
  }

  #slider .carousel-inner h2,
  .observations h2 {
    font-size: 14px;
  }

  #slider .carousel-inner h2:before,
  .observations h2:after {
    height: 14px;
  }

  #slider .carousel-item {
    max-height: fit-content !important;
  }

  #slider .carousel-text p,
  #slider .carousel-text a {
    width: 100%;
    margin: 0;
  }

  #slider .carousel-text a {
    width: fit-content;
    margin: 0 auto;
  }

  #slider .carousel-text {
    min-width: inherit !important;
  }
}

@media screen and (min-width: 760px) {
  #slider ol.carousel-indicators {
    position: absolute;
    right: 0;
    top: 50%;
    left: 12px;
    z-index: 15;
    display: flex;
    flex-direction: column !important;
    padding-left: 0;
    margin: 0;
    list-style: none;
    height: fit-content;
    transform: translateY(-50%);
  }
  #slider ol.carousel-indicators li:first-child {
    margin-top: 0px;
  }
  #slider ol.carousel-indicators li.active {
    background: #fff;
  }

  #slider .carousel-control-prev {
    bottom: 50%;
  }

  #slider .carousel-control-next {
    top: 50%;
    bottom: 0;
    left: 0;
  }

  #slider .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    left: 10px;
    bottom: 70px;
    transform: rotate(90deg);
  }

  #slider .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    left: 10px;
    top: 70px;
    transform: rotate(90deg);
  }
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(0, +100%, 0);
    transform: translate3d(0, +100, 0);
  }
}
