footer{
  margin-top: 20px;
  padding: 20px 0px;
  text-align: center;
  background: rgb(226, 226, 226);
}

footer p, footer div{
  margin: 0 auto;
  max-width: 80%;
}

footer div{
  margin-bottom: 20px;
}

footer div a {
  text-decoration: none;
  color: var(--secondary) !important;
}

footer div a:hover{
  border-bottom: solid 1px black;
}