astroid==2.15.8 ; python_version >= "3.10" and python_version < "4.0"
autoflake==2.3.1 ; python_version >= "3.10" and python_version < "4.0"
black==24.10.0 ; python_version >= "3.10" and python_version < "4.0"
cfgv==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
dill==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
distlib==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.20.0 ; python_version >= "3.10" and python_version < "4.0"
flake8==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
identify==2.6.15 ; python_version >= "3.10" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.10" and python_version < "4.0"
lazy-object-proxy==1.12.0 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.10" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==4.5.0 ; python_version >= "3.10" and python_version < "4.0"
pre-commit==3.6.2 ; python_version >= "3.10" and python_version < "4.0"
pycodestyle==2.11.1 ; python_version >= "3.10" and python_version < "4.0"
pyflakes==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
pylint-flask==0.6 ; python_version >= "3.10" and python_version < "4.0"
pylint-plugin-utils==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
pylint==2.17.7 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.3.0 ; python_version == "3.10"
tomlkit==0.13.3 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version == "3.10"
virtualenv==20.35.4 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.17.3 ; python_version >= "3.10" and python_version < "4.0"
