appdirs==1.4.4
asn1crypto==0.24.0
attrs==20.3.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorlog==4.0.2
cryptography==2.6.1
entrypoints==0.3
filelock==3.0.12
flasgger==0.9.3
Flask==1.1.1
Flask-Admin==1.5.3
Flask-CKEditor==0.4.3
Flask-Cors==3.0.8
Flask-JWT-Extended==3.21.0
Flask-SQLAlchemy==2.4.0
GeoAlchemy2==0.6.3
geojson==2.5.0
gunicorn==20.0.4
httplib2==0.11.3
idna==2.8
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
passlib==1.7.1
psycopg2-binary==2.8.3
pycrypto==2.6.1
pycurl==7.43.0.2
PyGObject==3.30.4
PyJWT==1.7.1
pyrsistent==0.17.3
PySimpleSOAP==1.16.2
python-apt==1.8.4.1
python-debian==0.1.35
python-debianbts==2.8.2
pyxdg==0.25
PyYAML==5.1.2
reportbug===7.5.3-deb10u1
requests==2.22.0
SecretStorage==2.3.1
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.3.7
toml==0.10.0
urllib3==1.25.3
virtualenv==20.0.1
Werkzeug==0.15.5
WTForms==2.2.1
zipp==3.4.0
