alembic==1.16.1 ; python_version >= "3.9" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.9" and python_version < "4.0"
blinker==1.9.0 ; python_version >= "3.9" and python_version < "4.0"
cachelib==0.13.0 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.2 ; python_version >= "3.9" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.9" and python_version < "3.11"
click==8.2.1 ; python_version >= "3.11" and python_version < "4.0"
cligj==0.7.2 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
coloredlogs==15.0.1 ; python_version >= "3.9" and python_version < "4.0"
fiona==1.10.1 ; python_version >= "3.9" and python_version < "4.0"
flasgger==0.9.7.1 ; python_version >= "3.9" and python_version < "4.0"
flask-admin==1.6.1 ; python_version >= "3.9" and python_version < "4.0"
flask-caching==2.3.1 ; python_version >= "3.9" and python_version < "4.0"
flask-ckeditor==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
flask-cors==4.0.2 ; python_version >= "3.9" and python_version < "4.0"
flask-jwt-extended==4.7.1 ; python_version >= "3.9" and python_version < "4.0"
flask-migrate==4.1.0 ; python_version >= "3.9" and python_version < "4.0"
flask-sqlalchemy==2.5.1 ; python_version >= "3.9" and python_version < "4.0"
flask==2.3.3 ; python_version >= "3.9" and python_version < "4.0"
geoalchemy2==0.17.1 ; python_version >= "3.9" and python_version < "4.0"
geojson==2.5.0 ; python_version >= "3.9" and python_version < "4.0"
greenlet==3.2.2 ; python_version >= "3.9" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==23.0.0 ; python_version >= "3.9" and python_version < "4.0"
humanfriendly==10.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==8.7.0 ; python_version == "3.9"
itsdangerous==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "4.0"
jsonschema-specifications==2025.4.1 ; python_version >= "3.9" and python_version < "4.0"
jsonschema==4.24.0 ; python_version >= "3.9" and python_version < "4.0"
mako==1.3.10 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
marshmallow-geojson==0.5.0 ; python_version >= "3.9" and python_version < "4.0"
marshmallow-sqlalchemy==1.4.2 ; python_version >= "3.9" and python_version < "4.0"
marshmallow==3.26.1 ; python_version >= "3.9" and python_version < "4.0"
mistune==3.1.3 ; python_version >= "3.9" and python_version < "4.0"
numpy==2.0.2 ; python_version >= "3.9" and python_version < "3.11"
numpy==2.2.6 ; python_version >= "3.11" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.9" and python_version < "4.0"
passlib==1.7.4 ; python_version >= "3.9" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.9" and python_version < "4.0"
pyjwt==2.10.1 ; python_version >= "3.9" and python_version < "4.0"
pyreadline3==3.5.4 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
referencing==0.36.2 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
rpds-py==0.25.1 ; python_version >= "3.9" and python_version < "4.0"
shapely==2.0.7 ; python_version >= "3.9" and python_version < "3.11"
shapely==2.1.1 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy==1.4.54 ; python_version >= "3.9" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
typing-extensions==4.13.2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.4.0 ; python_version >= "3.9" and python_version < "4.0"
utils-flask-sqlalchemy-geo==0.3.3 ; python_version >= "3.9" and python_version < "4.0"
utils-flask-sqlalchemy==0.4.2 ; python_version >= "3.9" and python_version < "4.0"
werkzeug==3.1.3 ; python_version >= "3.9" and python_version < "4.0"
wtforms==3.2.1 ; python_version >= "3.9" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.22.0 ; python_version == "3.9"
