<!-- Observation ajoutée -->
<div class="modal-body obs-added">
    <div>
        <!-- FIXME: hardcoded backend media url -->
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <img loading="lazy" class="default-img" [src]="
              photoPath
            " />
    </div>
    <h5 i18n="Congrats@@congrats">Félicitations !</h5>
    <h6 i18n="Congrats message@@congratsMessage">
        Votre observation a bien été ajoutée !
    </h6>
    <p>{{ observationProperties.name }}</p>
    <span i18n="Obs date and observer@@obsDateObserver">Observé par {{ username || 'Anonyme' }} <br />
        le {{ observationProperties.date }}</span>
</div>
