<div>
  <p>
    {{ jsonData | json }}
  </p>
  <h3>
    Etape {{ currentStep }} : {{ jsonSchema.steps[currentStep-1].title }}
  </h3>
  <p>
    <button class="btn btn-primary" (click)="previousStep()" *ngIf="!isFirstStep()">Etape précédente</button>
    <button class="btn btn-primary" (click)="nextStep()" *ngIf="!isLastStep()">Etape suivante</button>
  </p>
  <form>
    <json-schema-form
    loadExternalAssets="false"
    [schema]="jsonSchema.schema"
    [layout]="partialLayout"
    [(data)]="jsonData"
    [options]="formOptions"
    (onSubmit)="onFormSubmit($event)"
    framework="bootstrap-4">
    </json-schema-form>
  </form>
  <p>
    <button class="btn btn-link" (click)="toogleAdvancedMode()">{{ advancedMode ? "Masquer" : "Afficher" }} par défaut les champs avancés</button>
  </p>
</div>

