app-obs-form .form-group .input-group {
  flex-direction: row;
}

app-obs-form .input-group input {
  width: 100% !important;
}

app-obs-form .inputfile {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}

app-obs-form #formMap {
  min-height: 225px; /*50vh*/
  width: 100%;
}

app-obs-form .zoom-alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  font-weight: bold;
  z-index: 1001;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

app-obs-form .zoom-alert .btn {
  background-color: var(--primary);
  color: #fff;
}

app-obs-form .dropdown-menu.show {
  z-index: 1001 !important;
}

.observation-zoom-statement-warning::after {
  position: absolute;
  color: darkred;
  display: flex;
  align-items: center;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  content: attr(data-observation-zoom-statement-warning);
}
