app-obs-form .form-group .input-group {
    flex-direction: row;
}

app-obs-form .input-group input {
    width: 100% !important;
}

app-obs-form .inputfile {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
}

app-obs-form #formMap {
    min-height: 50vh; /*50vh*/
    width: 100%;
}

app-obs-form #formMap.div-form-map {
    display: none;
}

@media screen and (max-width: 992px) {
    app-obs-form #formMap.div-form-map {
        display: block;
    }
}

app-obs-form .zoom-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    color: red;
    font-weight: bold;
    z-index: 1001;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

app-obs-form .zoom-alert .btn {
    background-color: var(--primary);
    color: #fff;
}

app-obs-form .dropdown-menu.show {
    z-index: 1001 !important;
}

.observation-zoom-statement-warning::after {
    position: absolute;
    color: darkred;
    display: flex;
    align-items: center;
    padding: 1em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    content: attr(data-observation-zoom-statement-warning);
}

.img-ul-upload {
    background-color: var(--primary) !important;
    font-size: 1em !important;
}

.img-ul-button {
    text-transform: none !important;
}

.img-ul-clear {
    background-color: var(--secondary) !important;
    font-size: 1em !important;
}

.object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mono-taxa-img {
    width: 100%;
    height: 200px;
    max-height: 200px;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Occupation complète de la fenêtre */
    width: 100%;
  }
