.form-group .input-group {
  flex-direction: row;
}

.input-group input {
  width: 100% !important;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#formMap {
  min-height: 225px; /*50vh*/
  width: 100%;
}

.dropdown-menu.show {
  z-index: 1001 !important;
}

#obsForm .ng-valid:not(form),
#formMap.ng-valid {
  border-left: 5px solid #42a948; /* green */
}

#obsForm .ng-invalid:not(form),
#formMap.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
