app-obs-form .form-group .input-group {
  flex-direction: row;
}

app-obs-form .input-group input {
  width: 100% !important;
}

app-obs-form .inputfile {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}

app-obs-form #formMap {
  min-height: 225px; /*50vh*/
  width: 100%;
}

app-obs-form .zoom-alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  font-weight: bold;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

app-obs-form .zoom-alert .btn {
  background-color: var(--primary);
  color: #fff;
}

app-obs-form .dropdown-menu.show {
  z-index: 1001 !important;
}

app-obs-form #obsForm .ng-valid:not(form),
app-obs-form #formMap.ng-valid {
  border-left: 5px solid #42a948; /* green */
}

app-obs-form #obsForm .ng-invalid:not(form),
app-obs-form #formMap.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}
