<div class="row">
    <!-- LE PROGRAMME -->
    <section id="slide" class="obs-section" *ngIf="program && !hideProgramHeader">
        <div id="slider" class="carousel slide">
            <div class="carousel-inner">
                <h2>
                    {{ MainConfig.program_label[localeId] ? MainConfig.program_label[localeId] : 'Programme' }}
                    <span>{{ program.title }}</span>
                </h2>
                <div class="carousel-item active">
                    <img class="d-block w-100 default-img" [src]="program.image || 'assets/default_program.jpg'"
                        alt="program image (fixme context)" *ngIf="program" />
                    <div class="carousel-text-container">
                        <div class="carousel-text">
                            <h3 class="mobile" [innerHTML]="program.title"></h3>
                            <h3 class="desktop" [innerHTML]="program.title"></h3>
                            <div>
                                <h5 class="short-desc" [innerHTML]="program.short_desc"></h5>
                                <div class="long-desc" [innerHTML]="program.html_long_desc" id="collapse"
                                    [ngbCollapse]="isCollapsed"></div>
                                <button type="button" class="mobile" (click)="isCollapsed = !isCollapsed"
                                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapse" aria-expanded="false">
                                    <span>...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="row">
    <!-- LES OBSERVATIONS -->
    <section *ngIf="!isMobile" id="program" class="observations row obs-section">
        <input id="slide-sidebar" type="checkbox" role="button" />
        <label class="toggle" for="slide-sidebar"><i class="fa fa-chevron-left"></i></label>
        <div class="col-lg-12 col-md-12 side-bar" id="list">
            <app-obs-list #obsListRef [observations]="observations"
                [displayOwnerActions]="userDashboard" [displayForm]="flowService.display" [observedSpecies]="observedSpeciesUniqueSorted"
                (obsSelect)="obsMapRef.showPopup($event)" (deleteObs)="deleteObs.emit($event)"
                (validateObs)="openValidateModal(validateModal, $event)">
                <button type="button" class="btn btn-success float-right" add-obs (click)="addObsClicked()"
                    *ngIf="!userDashboard && !validationDashboard" ngbTooltip="Ajouter une observation"
                    placement="left" i18n-ngbTooltip="Ajouter une observation@@addObservationTooltip">
                    <span i18n="Add button text@@addButtonText">Ajouter</span>
                </button>

                <app-modalflow #modalFlowRef [coords]="coords" [program_id]="program_id"
                    [registration_required]="program?.registration_required" [form_message]="program?.form_message"
                    [modalversion]="MainConfig.FRONTEND.NEW_OBS_FORM_MODAL_VERSION" obs-form>
                </app-modalflow>
            </app-obs-list>
        </div>

        <div class="map col-lg-12 col-md-12" id="map">
            <div id="switchMapPhotoBtn">
                <button (click)="mediaPanel = !mediaPanel" placement="right"
                    [ngbTooltip]="mediaPanel ? 'Voir la carte':'Voir les photos'">
                    <i [class]="mediaPanel ? 'fa fa-map' :'fa fa-camera'"></i>
                </button>
            </div>
            <app-media-galery *ngIf="mediaPanel" [ngStyle]="!mediaPanel?{'display': 'none'} : {}"
                [program_id]="program_id" [userDashboard]="userDashboard"
                [validationProcess]="validationDashboard"></app-media-galery>
            <app-obs-map #obsMapRef [hidden]="mediaPanel" [ngStyle]="mediaPanel?{'display': 'none'} : {}"
                [features]="observations" [program]="programFeature" (onClick)="onMapClicked($event)"></app-obs-map>
        </div>
        <ng-template #validateModal let-modal>
            <div class="modal-header">
                <h4 *ngIf="true" class="modal-title" i18n="Update obs@@updateObs">
                    VALIDER L'OBSERVATION
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body add-obs pb-0">
                <validation-modal [obsToValidate]="obsToValidate"
                    (onCloseModal)="closeModal($event)"></validation-modal>
            </div>
        </ng-template>
    </section>

    <section *ngIf="isMobile" class="obs-tabs obs-section">
        <ngb-tabset>
            <ngb-tab title="Liste">
                <ng-template ngbTabContent>
                    <div class="side-bar" id="list">
                        <app-obs-list #obsListRef [observations]="observations"
                            (obsSelect)="obsMapRef.showPopup($event)">
                            <button type="button" class="btn btn-success mr-4" btn-open>
                                Ajouter +
                            </button>
                            <app-modalflow [coords]="coords" [program_id]="program_id"
                                [registration_required]="program.registration_required"
                                [form_message]="program?.form_message" class="float-right" add-obs>
                                <button type="button" class="btn btn-success mr-4" btn-open>
                                    Ajouter
                                </button>
                            </app-modalflow>
                        </app-obs-list>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Carte">
                <ng-template ngbTabContent id="tab-map" class="map">
                    <div id="switchMapPhotoBtn" placement="right"
                        [ngbTooltip]="mediaPanel ? 'Voir la carte':'Voir les photos'">
                        <button class="" (click)="mediaPanel = !mediaPanel">
                            <i [class]="mediaPanel ? 'fa fa-map' :'fa fa-camera'"></i>
                        </button>
                    </div>
                    <app-media-galery *ngIf="mediaPanel" [program_id]="program_id"
                        [userDashboard]="userDashboard"></app-media-galery>
                    <app-obs-map #obsMapRef *ngIf="!mediaPanel" [features]="observations" [program]="programFeature"
                        (onClick)="onMapClicked($event)">
                    </app-obs-map>
                    <div class="btn-groups map-modal-btn">
                        <app-modalflow [coords]="coords" [program_id]="program_id"
                            [registration_required]="program.registration_required"
                            [form_message]="program?.form_message">
                            <button class="btn-big text-center text-nowrap text-uppercase" btn-open>
                                {{ MainConfig.program_add_an_observation[ localeId ] ?
                                MainConfig.program_add_an_observation[ localeId ] : 'Ajouter' }} </button>
                        </app-modalflow>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </section>
</div>
