/* Sticky footer styles
-------------------------------------------------- */
.footer {
  /* position: fixed;
  text-align: center;
  margin-left: 60px;
  width: calc(100vw - 60px);
  bottom: 0; */
  /* width: 100%-60px; */

  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #fefefe;
  box-shadow: 0px -2px 2px 0  rgba(0, 0, 0, 0.2);
}
