<h1>Bienvenue sur le portail GeoNature-citizen</h1>
<div class="row">
  <div class="col col-lg-3 col-md-2"><img src="/assets/logo.svg" class="img-fluid"></div>
  <div class="col">
    <p>
      Autem dolores perferendis non nemo laborum. Sed vel repellendus ab. Tempora pariatur est ab corporis
      consectetur qui voluptatem consequatur. Et qui velit rerum placeat sit.
      Perferendis ab minima ullam. Voluptatem amet voluptatem praesentium. Rem quia porro quidem harum.
    </p>
  </div>
</div>