<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-fw fa-user-circle"></i>Se connecter</h4>
  <button type="button" class="close rounded-0" aria-label="Close" (click)="activeModal.dismiss('Cross click')">&times;</button>
</div>
<div class="modal-body">
  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <form (ngSubmit)="onLogin()" novalidate>
    <div class="form-group">
      <label for="username">Utilisateur</label>
      <input type="text" class="form-control rounded-0" id="username" placeholder="Entrez votre nom d'utilisateur"
             [(ngModel)]="user.username"
             name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control rounded-0" id="password" placeholder="Entrez votre mot de passe"
             [(ngModel)]="user.password"
             name="password" required>
    </div>
    <button type="submit" class="btn btn-outline-primary rounded-0">Se connecter</button>
  </form>
</div>
