.modal-header{
    background: #60b15c;
    background: -moz-linear-gradient(top, #60b15c 0%, #60b15c 50%, #57a154 51%, #57a154 100%); 
    background: -webkit-linear-gradient(top, #60b15c 0%,#60b15c 50%,#57a154 51%,#57a154 100%); 
    background: linear-gradient(to bottom, #60b15c 0%,#60b15c 50%,#57a154 51%,#57a154 100%);
    border-radius: 0px;
    align-items : center;
    max-height: 61px;
}

.modal-header h4 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}

.modal-header button {
    margin:  0;
}

.modal-body {
    border-radius: 0px;
}

span.input-group-text {
    background: #60b15c;
    color: #fff;
}

.modal-body input{
    border: solid 1px transparent;
    background: #eee;
    transition: all .2s ease-in-out;
}

.modal-body input:focus{
    background: rgb(196, 196, 196);
}

.modal-body input::placeholder{
    font-style: italic;
}

.modal-body .form-row:first-child, .modal-body .form-row:nth-child(2n) {
    border-bottom: solid 1px #60b15c;
    margin-bottom: 10px;
}

.modal-body button {
    background: #60b15c;
    color: #fff;
    border: solid 1px transparent;
    display: flex;
    margin: 0 auto;
}

.modal-body button:hover{
    background: transparent;
    color: #60b15c;
    border: solid 1px #60b15c;
}
