#obsMap {
  height: calc(100vh - 106px);
  /* FIXME: supprimer la margin quand pas de chevron */
  margin-left: var(--list-toggler-width);
  width: calc(100% - var(--list-toggler-width));
}
@media screen and (max-width: 992px) {
  #obsMap {
    margin: 0;
    width: 100%;
  }

}
