#obsMap {
  height: calc(100vh - 106px);
  /* FIXME: supprimer la margin quand pas de chevron */
  margin-left: var(--list-toggler-width);
  width: calc(100% - var(--list-toggler-width));
}

/* .marker-cluster {
    background-color: var(--secondary);
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-marker-icon {
   color: white;
} */

@media screen and (max-width: 991px){

  #obsMap{
      height: calc(100vh - 475px);
      margin: 0;
    width: 100%;
  }
}
