<section class="observations row">
  <div class="col-lg-4 col-md-12" id="list">
    <app-sight-list></app-sight-list>
  </div>

  <div class="col-lg-8 col-md-12" id="map">
    <app-sight-map></app-sight-map>
    <div class="btn-group">
      <app-modalflow></app-modalflow>
      <button class="btn-big">Réaliser un programme</button>
    </div>
  </div>

  <!-- Se connecter pour ajouter une observation -->
  <!-- <ng-template #Onboarding let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">AJOUTER UNE OBSERVATION</h4>
    </div>

    <div class="modal-body row">
      <div class="sign col-lg-6 col-md-12" (click)="register()" data-dismiss="modal">
        <i class="fa fa-user"></i>
        <span>S'incrire <br>et contribuer au site</span>
      </div>
      <div class="sign col-lg-6 col-md-12" (click)="modal(AddOneObs)" data-dismiss="modal">
        <i class="fa fa-user"></i>
        <span>Continuer <br>sans s'enregistrer</span>
      </div>
    </div>

    <div class="modal-footer">
      <span (click)="login()" data-dismiss="modal">Vous avez déjà un compte ? Connectez-vous !</span>
    </div>
  </ng-template> -->

  <!-- Ajouter une observation -->
  <!-- <ng-template #AddOneObs let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">AJOUTER UNE OBSERVATION</h4>
    </div>

    <div class="modal-body add-obs">
      <app-sight-form></app-sight-form>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-default btn-outline-primary rounded-0" (click)="modal(obsAdded)" data-dismiss="modal"> -->
        <!-- <i class="fa fa-plus-square-o"></i> --><!-- &nbsp;Valider l'observation -->
      <!-- </button> -->
<!--       <button type="button"
              class="btn btn-default btn-outline-danger rounded-0"
              data-dismiss="modal"
              (click)="d('CANCEL')">
        <i class="fa fa-times-circle-o"></i>&nbsp;Fermer
      </button> -->
    <!-- </div>
  </ng-template> -->

  <!-- Observation ajoutée -->
  <!-- <ng-template #obsAdded let-c="close" let-d="dismiss">

    <div class="modal-body obs-added">
      <div>
        <img src="../../assets/Azure-Commun-019.JPG">
      </div>
      <h5>Félicitation !</h5>
      <h6>Votre observation a bien été ajoutée !</h6>
      <p>Azurée commun</p>
      <span>Observé par  <br> le </span>
    </div>

  </ng-template> -->

    <!--Badge remporté -->
    <!-- <ng-template #newBadge let-c="close" let-d="dismiss">

      <div class="modal-body new-badge">
        <div>
          <img src="../../assets/user.jpg">
        </div>
        <h5>Félicitation !</h5>
        <h6>Vous venez d'obtenir ce badge</h6>
        <p>Observateur confirmé</p>
      </div>

    </ng-template> -->

</section>
