/* #mapapp {
  margin-top: 60px;
  margin-left: 45px;
} */

/* #sightlist {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
} */

/* [data-toggle="buttons"] > .btn > input[type="radio"], [data-toggle="buttons"] > .btn > input[type="checkbox"] {
  clip: rect(1px 10px 1px 1px);
} */

.observations{
    margin: 0px -15px;
    min-height: inherit;
}

.observations #map, .observations #list {
    padding: 0px;
}

.observations #map iframe{
    height: 100%;
}

.observations #map .btn-group{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.observations #map .btn-group button{
    margin-left: 20px;
    opacity: 0.8;
    padding: 10px 30px;
    z-index: 999;
}

.observations #map .btn-group button:hover{
    opacity: 1;
}

.observations #map .btn-group button:first-child{
    background-color: var(--secondary);
}

.observations #map .btn-group button:nth-child(2n){
    background-color: var(--primary);
}

/* @media screen and (max-width: 992px){
    .observations #map{
        height: 500px;
    }
} */
