/* #mapapp {
  margin-top: 60px;
  margin-left: 45px;
} */

/* #sightlist {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
} */

/* [data-toggle="buttons"] > .btn > input[type="radio"], [data-toggle="buttons"] > .btn > input[type="checkbox"] {
  clip: rect(1px 10px 1px 1px);
} */

.observations{
    margin: 0px -15px;
    min-height: inherit;
}

.observations #map, .observations #list {
    padding: 0px;
}

.observations #map iframe{
    height: 100%;
}

.observations #map .btn-group{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.observations #map .btn-group button{
    margin-left: 20px;
    opacity: 0.8;
    padding: 10px 30px;
    z-index: 999;
}

.observations #map .btn-group button:hover{
    opacity: 1;
}

.observations #map .btn-group button:first-child{
    background-color: var(--secondary);
}

.observations #map .btn-group button:nth-child(2n){
    background-color: var(--primary);
}

/* POPUP CUSTOM */

.leaflet-popup-content{
    margin: 2px !important;
    min-width: 300px !important;
    min-height: 81px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-tip, .leaflet-popup-content-wrapper{
    border-radius: 0px !important;
}

.leaflet-popup-tip span, .leaflet-popup-content-wrapper span{
    color : #00a99d;
    font-style: italic;
    font-size: 13px;
}

.leaflet-popup-tip p, .leaflet-popup-content-wrapper p{
    margin: 0 !important;
    font-size: 14px;
}

.leaflet-popup-tip img, .leaflet-popup-content-wrapper img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    float: left;
    margin-right: 5px;
}

.leaflet-popup-content div{
    height: 80px;
    width: 40px;
    background: #00a99d;
    color : #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* @media screen and (max-width: 992px){
    .observations #map{
        height: 500px;
    }
} */


.modal-header{
    background: #60b15c;
    background: -moz-linear-gradient(top, #60b15c 0%, #60b15c 50%, #57a154 51%, #57a154 100%);
    background: -webkit-linear-gradient(top, #60b15c 0%,#60b15c 50%,#57a154 51%,#57a154 100%);
    background: linear-gradient(to bottom, #60b15c 0%,#60b15c 50%,#57a154 51%,#57a154 100%);
    border-radius: 0px;
    align-items : center;
    max-height: 61px;
}

.modal-header h4 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
}

.modal-content{

    border: none !important;
}

.modal-body, .modal-content {
    border-radius: 0px;
}

span.input-group-text {
    background-color: var(--secondary);
    color: #fff;
}

.modal-body input{
    border: solid 1px rgb(206, 212, 218);
}

.modal-content .row{
    margin : 0 !important;
}

.modal-content .col-lg-6, .modal-content .col-lg-12{
    padding: 0px 5px;
}

.modal-body input::placeholder, .modal-body textarea::placeholder{
    color : #ccc;
}

.modal-footer button {
    background-color: var(--secondary);
    color: #fff;
    border: solid 1px transparent;
    display: flex;
    margin: 0 auto;
    text-transform: uppercase;
    padding : 6px 30px;
}

.modal-footer button:hover, .modal-footer button:active{
    background: transparent;
    color: var(--secondary);
    border: solid 1px;
    border-color: var(--secondary);
}



.half #sightmap{
    height: 228px;
    overflow: hidden;
}

form .d-inline-flex{
    width: 100%;
}

.modal-content .col-lg-8{
    margin: 0 auto;
    margin-bottom: 20px;
}

.modal-content .form-group .form-group{
    margin-bottom: 0;
}

.obs-images{
    justify-content: space-between;
}

.obs-images img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 5px;
    opacity: 0.7;
}

.obs-images img:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 0 3px #60b15c;
}

.obs-add-img{
    margin: 5px;
    background: #dcdcdc;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 120px;
}

.obs-add-img:hover{
    cursor: pointer;
    background: #a1a1a1;
}

.obs-add-img i{
    font-size: 30px;
}

/* MODALE CONNEXION OU NON */

.modal-body .sign{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px;
}

.modal-body .sign i{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 28px 91px -29px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 28px 91px -29px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 28px 91px -29px rgba(0,0,0,0.75) !important;
    margin-bottom: 30px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.modal-body .sign i:before{
    font-size: 60px;
    color: #fff;
}

.modal-body .sign i:hover, .modal-body .sign span:hover{
    cursor: pointer;
}

.modal-body .sign:first-child i {
    background : #00a99d;
}

.modal-body .sign:first-child span{
    color: #00a99d;
    font-size: 20px;
    font-weight: 600;
}

.modal-body .sign:last-child i {
    background : #e8e1db;
}

.modal-body .sign:last-child span{
    color: #a0a0a0;
    font-size: 20px;
    font-weight: 600;
}

.modal-footer span{
    margin: 0 auto;
    font-style: italic;
    border-bottom: solid 1px grey;
}

.modal-footer span:hover{
    cursor: pointer;
}

@media screen and (min-width: 760px){
    .modal-dialog {
        min-width: 800px;
    }

    .modal-content .form-row .half{
        min-width: 350px;
    }
}
