<section class="observations row">
  <div class="col-lg-4 col-md-12" id="list">
    <app-sight-list></app-sight-list>
  </div>

  <div class="col-lg-8 col-md-12" id="map">
    <app-sight-map></app-sight-map>
    <div class="btn-group">
      <button class="btn-big" (click)="modal(Onboarding)">Ajouter une observation</button>
      <button class="btn-big">Réaliser un programme</button>
    </div>
  </div>

  <ng-template #AddOneObs let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">AJOUTER UNE OBSERVATION</h4>
    </div>

    <div class="modal-body">
      <app-sight-form></app-sight-form>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-default btn-outline-primary rounded-0" data-dismiss="modal">
        <i class="fa fa-plus-square-o"></i>&nbsp;Ajouter
      </button>
      <button type="button"
              class="btn btn-default btn-outline-danger rounded-0"
              data-dismiss="modal"
              (click)="d('CANCEL')">
        <i class="fa fa-times-circle-o"></i>&nbsp;Fermer
      </button>
    </div>
  </ng-template>

  <ng-template #Onboarding let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">AJOUTER UNE OBSERVATION</h4>
    </div>

    <div class="modal-body">
      <span (click)="register()" data-dismiss="modal">S'incrire et contribuer au site</span>
      &nbsp;
      <span (click)="modal(AddOneObs)" data-dismiss="modal">Continuer sans s'enregistrer</span>
    </div>

    <div class="modal-footer">
      <span (click)="login()" data-dismiss="modal">Vous avez déjà un compte ? connectez-vous !</span>
    </div>
  </ng-template>
</section>
