<div class="container">
    <div class="row">
        <a [routerLink]="['/programs', program_id, module]" queryParamsHandling="preserve" id="back_link">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Retour au programme</a>
    </div>
    <div class="row">
        <div>
            <h1 class="mt-3 title">
                {{
                module === 'sites'
                ? site?.properties.name
                : !!obs?.properties.nom_francais
                ? obs?.properties.nom_francais
                : obs?.properties.taxref?.nom_vern
                }}
            </h1>
            <p class="card-subtitle mb-2 text-muted">
                <small>Ajoutée le
                    {{ module === 'sites' ? site?.properties.timestamp_create.substring(0, 10) :
                    obs?.properties.timestamp_create.substring(0, 10)
                    | date: 'longDate'
                    }}
                    par {{ module === 'sites' ? site?.properties.obs_txt: obs?.properties.obs_txt }}</small>
            </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-4 pt-4 card box-shadow" *ngIf="module === 'sites'; else obsDisplay">
            <div class="card-body">
                <h5 class="card-title">
                    {{ site?.properties.site_type.type | titlecase }} #{{
                    site_id
                    }}
                </h5>

                <p *ngIf="site?.properties.visits.length > 0; else noVisit" class="card-text">
                    <small class="text-muted">
                        <span *ngIf="site?.properties.visits.length === 1">
                            Visite du
                            {{
                            site?.properties.visits[0].date
                            | date: 'longDate'
                            }}
                        </span>
                        <span *ngIf="site?.properties.visits.length > 1">
                            {{ site?.properties.visits.length }} visites
                        </span>
                    </small>
                </p>
                <ng-template #noVisit>
                    <p class="card-text">
                        <small class="text-danger">Aucune visite enregistrée :(</small>
                    </p>
                </ng-template>
                <a href="#" (click)="$event.preventDefault(); addSiteVisit()" class="btn btn-primary">Ajouter un rapport
                    de visite</a>
            </div>
        </div>
        <ng-template #obsDisplay>
            <div class="col-md-4 pt-2 card box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Observation #{{ obs_id }}</h5>
                    <p class="card-subtitle mb-2 text-muted">
                        Observateur&nbsp;: {{ obs?.properties.obs_txt }}<br>
                        Date&nbsp;: {{
                        obs?.properties.date.substring(0, 10)
                        | date: 'longDate'
                        }}<br>
                        {{ obs?.properties.municipality ? 'Commune&nbsp;: '+obs?.properties.municipality :
                        null }}<br>
                        Nombre&nbsp;: {{ obs?.properties.count}}
                    </p>
                </div>
            </div>
        </ng-template>
        <div class="col-md-8 box-shadow">
            <div id="map" class="col-lg-12"></div>
        </div>
    </div>
    <div *ngIf="photos.length> 0" class="row mb-4">
        <div class="col-12">
            <h2 class="my-2">Photos</h2>
        </div>
        <div *ngFor="let photo of photos" class="col-md-4 col-lg-4 photo" (click)="showPhoto(photo)">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Photo"
                    src="{{ photo.url }}" data-holder-rendered="true" />
                <div class="card-body">
                    <p class="card-text text-muted">
                        <small>Le {{ photo.date | date: 'longDate' }} par {{ photo.author }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div *ngIf="module === 'sites'">
            <div *ngIf="attributes.length > 0" class="row">
                <h2 class="my-4">Description</h2>
            </div>
            <!-- {{ attributes|json }} -->
            <!-- <span *ngIf="site">{{ site.properties.visits|json }}</span> -->
            <div *ngFor="let a of attributes" class="row bg-light my-3">
                <h5>
                    <i class="fa fa-calendar"></i>
                    {{ a.date | date: 'longDate' }} par {{ a.author }}
                    <i
                        class="fa fa-edit text-primary"
                        ngbTooltip="Editer"
                        (click)="editSiteVisit(a);"
                        *ngIf="a.author === username"
                    ></i>
                    &nbsp;
                    <!-- {{ a|json }} deleteSiteVisit(a.id)-->
                    <i
                        class="fa fa-trash text-danger"
                        ngbTooltip="Supprimer"
                        (click)="openDelVisitModal(a.id)"
                        *ngIf="a.author === username"
                    ></i>
                </h5>
                <table class="table table-striped table-sm table-hover">
                    <tbody>
                        <ng-container *ngIf="a.data; else noData">
                            <ng-container *ngFor="let d of a.data">
                                <tr class="d-flex" (click)="d.type === 'array' ? toggleCollapse(d) : null" [ngClass]="{'expandable-row': d.type === 'array', 'expanded': d.showDetails}">
                                    <td  [attr.colspan]="d.type === 'array' ? 2 : 1" class="col-4">{{ d.name }} <span *ngIf="d.type === 'array'">
                                        <i class="fa fa-chevron-right" *ngIf="!d.showDetails"></i>
                                        <i class="fa fa-chevron-down" *ngIf="d.showDetails"></i>
                                        
                                    </span></td>
                                    <td  class="col-8">
                                        <span *ngIf="!d.showDetails && d.type != 'array'">{{d.value}}</span>
                                    </td>
                                </tr>
                                <ng-container *ngIf="d.type === 'array'">
                                <ng-container *ngFor="let r of d.value">
                                    <tr *ngIf="d.showDetails" class="additional-content expanded-row">
                                        <td colspan="2" [innerHTML]="r">
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-template #noData>
                            <tr class="d-flex">
                                <td class="col-8">Aucune donnée</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>

    <div *ngIf="module === 'observations'">
        <div *ngIf="attributes.length > 0" class="row">
            <h2 class="mt-4 mb-4">Description</h2>
        </div>
        <div class="row bg-light">
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let d of attributes" class="d-flex">
                        <td class="col-4">{{ d.name }}</td>
                        <td class="col-8">{{ d.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="photoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ clickedPhoto?.date | date: 'longDate' }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ clickedPhoto?.url }}" style="width: 100%" />
                <p class="card-text">
                    <small class="text-muted">{{ clickedPhoto?.author }}</small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #visitDeleteModal let-modal>
    <div class="modal-delete-header">
        <h5 class="modal-delete-title"><i class="fa fa-trash"></i></h5>
    </div>
    <div class="modal-delete-body">
        Êtes-vous sûr de vouloir supprimer cette visite et toutes les informations
        qui y sont rattachées ?
        <br />
        La suppression sera définitive
    </div>
    <div class="modal-delete-footer">
        <button type="button" class="cancel-btn" style="margin-right: 15px" (click)="visitDeleteModalClose()">
            ANNULER
        </button>
        <button type="button" class="green-btn" (click)="deleteSiteVisit(idVisitToDelete); visitDeleteModalClose();">
            OUI
        </button>
    </div>
</ng-template>