#map {
    min-height: 250px; /*50vh*/
    /*width: 100%;*/
}

.photo {
    cursor: pointer;
}

#back_link {
    padding-top: 1rem;
    color: var(--primary);
}

.btn-primary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

h1.title,
h2 {
    color: var(--primary);
}

h5.card-title {
    color: var(--secondary);
}

.modal-body {
    /*min-height: 60vh;*/
    max-height: 60vh;
    overflow: auto;
}

.card-img-top {
    width: auto;
    height: 225px;
    object-fit: contain;
}

.expandable-row {
    cursor: pointer !important;
    background-color: #f7f7f7; /* Light gray background */
}

.expandable-row:hover {
    cursor: pointer !important;
    background-color: lightblue !important; /* Darker gray background on hover */
}

.expanded {
    cursor: pointer !important;
    background-color: lightblue !important; /* Darker gray background on hover */
}