# Database
SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://geonatuser:monpassachanger@127.0.0.1:5432/geonaturedb"
SQLALCHEMY_TRACK_MODIFICATIONS = false

# JWT Auth
JWT_SECRET_KEY = 'jwt-secret-string'
JWT_BLACKLIST_ENABLED = true
JWT_BLACKLIST_TOKEN_CHECKS = ['access', 'refresh']

# Application
appName = 'GeoNature-citizen'                               # Application name in the home page
DEFAULT_LANGUAGE = 'fr'

# Nom du zonage du portail
PORTAL_AREA_NAME = 'zonage'

DEBUG = true
SQLALCHEMY_DEBUG_LEVEL = 'WARNING'

URL_APPLICATION = 'http://url.com/gncitizen'         # Replace my_url.com by your domain or IP
API_ENDPOINT = 'http://url.com:API_PORT/gncitizen/api'        # Replace my_url.com by your domain or IP
API_PORT = 5002 # 5000 déjà utilisé par taxhub
API_TAXHUB ='http://127.0.0.1:5000/api/'

SESSION_TYPE = 'filesystem'
SECRET_KEY = 'MyS3cr3tK3y'
COOKIE_EXPIRATION = 7200
COOKIE_AUTORENEW = true
TRAP_ALL_EXCEPTIONS = false
HTTPS = false
MEDIA_FOLDER = 'media'
# File
# BASE_DIR = os.path.abspath(os.path.dirname(__file__))
UPLOAD_FOLDER = 'static/medias'

[REWARDS]
  [[REWARDS.BADGESET]]
    [REWARDS.BADGESET.Seniority]
      oeuf = '/media/badges_Novice.svg'
      chenille = '/media/badges_Confirme.svg'
      papillon = '/media/badges_Expert.svg'
    [REWARDS.BADGESET.Attendance]
      Au = '/media/badges_Expert.svg'
      Ar = '/media/badges_Confirme.svg'
      CuSn = '/media/badges_Novice.svg'
    [REWARDS.BADGESET.Program_Attendance]
      Au = '/media/badges_Expert.svg'
      Ar = '/media/badges_Confirme.svg'
      CuSn = '/media/badges_Novice.svg'
    [REWARDS.BADGESET.Program_Date_Bounds]
      1 = '/media/badges_Vallee.svg'
    [REWARDS.BADGESET.Ornitologue]
      Au = '/media/badges_Oiseau-proie.svg'
      Ar = '/media/badges_Oiseau.svg'
      CuSn = '/media/badges_Novice.svg'
    [REWARDS.BADGESET.Mammalogiste]
      Au = '/media/badges_Grand-mam.svg'
      Ar = '/media/badges_Petit-mam.svg'
      CuSn = '/media/badges_Novice.svg'
    [REWARDS.BADGESET.Odonatologue]
      Au = '/media/badges_Insecte.svg'
      Ar = '/media/badges_Insecte.svg'
      CuSn = '/media/badges_Insecte.svg'
    [REWARDS.BADGESET."Lépidoptériste"]
      Au = '/media/badges_Insecte.svg'
      Ar = '/media/badges_Insecte.svg'
      CuSn = '/media/badges_Insecte.svg'
    [REWARDS.BADGESET."Herpétologue"]
      Au = '/media/badges_Humide.svg'
      Ar = '/media/badges_Humide.svg'
      CuSn = '/media/badges_Humide.svg'

  [REWARDS.CONF]
    "attendance" = { "Au" = 5000, "Ar" = 66, "CuSn" = 65 }
    "seniority" = { "oeuf" = "7days", "chenille" = "6months", "papillon" = "1an" }
    # [[REWARDS.CONF.program_attendance]]
    # 1 = { "Au" = 7, "Ar" = 5, "CuSn" = 3 }
    "program_attendance" = { "Au" = 78, "Ar" = 7, "CuSn" = 3 }
    # [[REWARDS.CONF.program_date_bounds]]
    # 1 = { "start" = "2019-03-20", "end" = "" }
    "program_date_bounds" = { "start" = "2019-03-20", "end" = "" }
  [[REWARDS.CONF.recognition]]
    "class" = "Aves"
    "specialization" = "Ornitologue"
    "attendance" = {"Au" = 66, "Ar" = 40, "CuSn" = 10}
  [[REWARDS.CONF.recognition]]
    "class" = "Mammalia"
    "specialization" = "Mammalogiste"
    "attendance" = { "Au" = 500, "Ar" = 100, "CuSn" = 7 }
  [[REWARDS.CONF.recognition]]
    "class" = "Reptilia"
    "specialization" = "Herpétologue"
    "attendance" = { "Au" = 500, "Ar" = 100, "CuSn" = 10 }
  [[REWARDS.CONF.recognition]]
    "order" = "Odonata"
    "specialization" = "Odonatologue"
    "attendance" = { "Au" = 500, "Ar" = 100, "CuSn" = 10 }
  [[REWARDS.CONF.recognition]]
    "order" = "Lepidoptera"
    "specialization" = "Lépidoptériste"
    "attendance" = { "Au" = 500, "Ar" = 100, "CuSn" = 10 }


# Front end configuration
[FRONTEND]
    PROD_MOD = true
    # DISPLAY_HEADER = false
    # DISPLAY_FOOTER = false
    # MULTILINGUAL = false


[RESET_PASSWD]
    SUBJECT = "Link"
    FROM = 'contact@geonature-citizen.fr'
    TEXT_TEMPLATE = '''
    Bonjour,\r\nVoici votre nouveau mot de passe :\r\n{passwd}\r\n"{app_url}
    '''
    HTML_TEMPLATE = '''
    Bonjour,<br /><br />Voici votre nouveau mot de passe :<br />
    {passwd}
    <br /><br />"
    <a href="{app_url}">Connexion</a>'
    '''


[MAIL]
    MAIL_HOST = 'smtpd host'
    MAIL_PORT = 493   # mandatory SSL port
    MAIL_AUTH_LOGIN = 'smtpd/relay host username'
    MAIL_AUTH_PASSWD = 'smtpd/relay host password'


[MAILERROR]
    MAIL_ON_ERROR = false
    MAIL_HOST = 'host mail'
    HOST_PORT = 493
    MAIL_FROM = 'Email from'
    MAIL_USERNAME = 'email username'
    MAIL_PASS = 'email to'
    MAIL_TO = 'email to'


# API flasgger main config
[SWAGGER]
    title = 'GeoNature-Citizen API'
    version = 'x.x.x'
    produces = ["application/json"]
    consumes = ["application/json"]
