# Database
SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:monport/mondbname"
SQLALCHEMY_TRACK_MODIFICATIONS = false

# Application

appName = 'GeoNature-citizen'                               # Application name in the home page
DEFAULT_LANGUAGE = 'fr'

DEBUG = true

URL_APPLICATION = 'http://url.com/geonature'         # Replace my_url.com by your domain or IP
API_ENDPOINT = 'http://url.com/geonature/api'        # Replace my_url.com by your domain or IP
API_TAXHUB ='http://127.0.0.1:5000/api/'

ID_APPLICATION_GEONATURE = 0                           # id_application of GeoNature in UsersHub
SESSION_TYPE = 'filesystem'
SECRET_KEY = 'MyS3cr3tK3y'
COOKIE_EXPIRATION = 7200
COOKIE_AUTORENEW = true
TRAP_ALL_EXCEPTIONS = false
HTTPS = false

# File
# BASE_DIR = os.path.abspath(os.path.dirname(__file__))
UPLOAD_FOLDER = 'static/medias'


[RIGHTS]
    NOTHING = 0
    MY_DATA = 1
    MY_ORGANISM_DATA = 2
    ALL_DATA = 3

# Front end configuration
[FRONTEND]
PROD_MOD = false
DISPLAY_FOOTER = false
MULTILINGUAL = false

