<!-- Ajouter une observation -->
<div class="modal-header">
  <h4 class="modal-title" i18n>AJOUTER UNE OBSERVATION</h4>
</div>

<div class="modal-body add-obs pb-0">
  <app-obs-form
    [coords]="data.coords"
    (newObservation)="onNewObservation($event)"
  ></app-obs-form>
</div>

<div class="modal-footer">
  <button
    type="submit"
    [disabled]="!form.obsForm.valid"
    class="btn btn-default btn-big btn-outline-primary rounded-0"
    (click)="committed()"
    i18n="Valider l'observation"
  >
    Valider l'observation
  </button>
</div>
