<div class="row">
  <!-- LES OBSERVATIONS -->
  <section id="program" class="observations row">
    <input id="slide-sidebar" type="checkbox" role="button" />
    <label class="toggle" for="slide-sidebar"
      ><i class="fa fa-chevron-left"></i
    ></label>
    <div class="col-lg-4 col-md-12 side-bar" id="list">
      <app-obs-list
        [observations]="observations"
        [taxa]="surveySpecies"
      ></app-obs-list>
    </div>

    <div class="map col-lg-12 col-md-12" id="map">
      <app-obs-map
        [observations]="observations"
        [program]="programFeature"
      ></app-obs-map>
      <div class="btn-groups"><app-sitemodalflow></app-sitemodalflow></div>
    </div>
  </section>
</div>
