<div class="row">
  <!-- LES SITES -->
  <section id="program" class="observations row">
    <input id="slide-sidebar" type="checkbox" role="button" />
    <label class="toggle" for="slide-sidebar"
      ><i class="fa fa-chevron-left"></i
    ></label>
    <div class="col-lg-4 col-md-12 side-bar" id="list">
      <app-sites-list
        [sites]="sites"
        [taxa]="surveySpecies"
        [program_id]="program_id"
        (siteSelect)="sitesMapRef.showPopup($event);"
      ></app-sites-list>
    </div>

    <div class="map col-lg-12 col-md-12" id="map">
      <app-sites-map
        #sitesMapRef
        [sites]="sites"
        [program]="programFeature"
        (onClick)="onMapClicked($event)"
      ></app-sites-map>
      <div class="btn-groups">
        <app-sitemodalflow [coords]="coords"></app-sitemodalflow>
      </div>
    </div>
  </section>
</div>
