<div class="container" id="main">
    <div class="row">
        <div class="col-lg-12">
            <observations-to-validate [observations]="observations" (deleteObs)="openDeleteModal(deleteModal, $event)"
                (validateObs)="openValidateModal(validateModal, $event)">
            </observations-to-validate>
        </div>
    </div>
</div>

<div *ngIf="!observations" id="spinner">
    <div class="loader-1"></div>
    <div class="loader-2"></div>
    <div class="loader-3"></div>
</div>