<form [formGroup]="sightForm" (ngSubmit)="onFormSubmit(this.sightForm.value)">
  <div class="alert alert-primary rounded-0" role="alert">{{sightForm.value | json}}</div>
  <div class="form-row">

    <div class="form-group col-lg-8">
      <label for="sel1">Sélectionnez une espèce</label>
      <div class="d-inline-flex">
        <select class="form-control rounded-0 col-lg-6" id="sel1" formControlName="species">
          <option *ngFor="let s of surveySpecies" [value]="s.cd_nom">
            {{s.nom.nom_francais}}&nbsp;(<i>{{s.taxref.nom_complet }}</i>)
          </option>
        </select>
        <input type="text" class="form-control rounded-0 col-lg-6">
      </div>
    </div>

    <div class="form-group col-lg-12 obs-images d-inline-flex">
      <div *ngFor="let s of surveySpecies?.slice(-5)">
        <div class="obs-img">
            <img src="{{(s.media?.url)?s.media.url:'../../assets/Azure-Commun-019.JPG'}}" alt="{{s.nom.nom_francais}}">
        </div>
      </div>
      <div class="obs-add-img">
          <i class="fa fa-camera"></i>
          <input id="file" name="file" class="inputfile" type="file" accept="image/*" capture="capture">
          <label for="file">Ajouter une photo</label>
      </div>
    </div>

    <div class="form-group col-lg-6 col-md-12 half">
      <h5>Informations complémentaires</h5>
      <div class="row">
        <div class="form-group col-lg-6">
          <div class="input-group">
            <label for="date">Date de l'observation</label>
            <input ngbDatepicker #d="ngbDatepicker"
                  type="text"
                  class="form-control rounded-0"
                  placeholder="yyyy-mm-dd"
                  formControlName="date"
                  (click)="d.toggle()"
                  id="date">
          </div>
        </div>
        <div class="form-group col-lg-6">
          <!--<pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>-->
          <label for="observateur">Nom de l'observateur</label>
          <input type="number" min="0" placeholder="Nombre" data-bind="value:replyNumber"
                class="form-control rounded-0" formControlName="count" id="observateur">
        </div>
      </div>

      <div class="form-group col-lg-12">
          <label for="comment">Commentaire</label>
          <textarea placeholder="Votre commentaire" class="form-control rounded-0" rows="4"
                    id="comment" formControlName="comment"></textarea>
      </div>
    </div>
    <div class="form-group col-lg-6 col-md-12 half">
      <h5>Où avez-vous observé cette espèce ?</h5>
      <div id="formMap" class="col-lg-12">

      </div>
      <!-- <app-sight-map class="col-lg-12"></app-sight-map> -->
      <!-- <div id="sightmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11616.473813521694!2d5.3625618500000005!3d43.29084099999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1547032742765" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div> -->
    </div>

  </div>
</form>
