.form-group .input-group {
    flex-direction: column;
}

.input-group input{
    width: 100% !important;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#formMap {
    min-height: 213px; /*50vh*/
    width: 100%;
}

/* .gallery {
    padding: 0;
    overflow-x: auto;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
}

obs-img {
    scroll-snap-align: center;
} */
