/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'NexaRust';
  src: url('assets/NexaRustScriptL-0.otf') format('truetype');
}

:root {
  --primary: #00a99d;
  --secondary: #60b15c;
  --secondary-gradient: #57a154;
  --ternary: #45765c;
  --list-toggler-width: 21px;
  --list-obs-offset: 170px;
}

html, body {
  height: 100%;
  color: #5d6970;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

button, .btn {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.btn-big{
  text-transform: uppercase;
  color: #fff !important;
  padding: 20px 30px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  width: fit-content;
  transition: all .2s ease-in-out;
}
.btn-big:hover{
  -webkit-box-shadow: 0px 5px 24px -2px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 5px 24px -2px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 5px 24px -2px rgba(0,0,0,0.75) !important;
}

ul{
  list-style-type: none;
}

a, button {
  color : #000;
  box-shadow: none !important;
  cursor: pointer;
}

input:focus{
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

@media screen and (max-width: 1024px){
  .btn-big{
    padding: 10px 20px;
  }
}

/* scroll bar theming */
/* firefox */
* {
  scrollbar-color: var(--primary) var(--light);
}

/* blink scroll bar custom design */
::-webkit-scrollbar-thumb {
	background: var(--primary);
	width: 10px;
	border: 1px solid #eee;
	margin: 5px;
}
::-webkit-scrollbar{
	background: #eee;
	width: 10px;
	height: 10px;
	margin: 5px;
	cursor: pointer;
}
