/* You can add global styles to this file, and also import other style files */

@font-face {
    font-display: auto;
    font-family: "Satisfy";
    src: url("assets/Satisfy-Regular.ttf") format("truetype");
}


/* @import '~ngx-toastr/toastr'; */

:root {
    --default-font-color: #5d6970;
    --primary: #00a99d;
    --dark-primary: #0a998f;
    --secondary: #60b15c;
    --secondary-gradient: #57a154;
    --ternary: #45765c;
    --list-toggler-width: 1.2rem;
    /* --list-toggler-width: 21px; */
    --list-obs-offset: calc(var(--router-outlet-offset) + 4em);
    /* --list-obs-offset: 170px; */
    --router-outlet-margin-top: 6.625em;
    /* --router-outlet-margin-top: 106px; */
    --router-outlet-offset: calc(var(--router-outlet-margin-top) + 0.5em);
    /* --router-outlet-offset: 113px; */
    --modal-header-bg-moz: moz-linear-gradient( 179.4deg, var(--secondary) 0%, var(--secondary) 50%, var(--secondary-gradient) 51%, var(--secondary-gradient) 100%);
    --modal-header-bg-webkit: moz-linear-gradient( 179.4deg, var(--secondary) 0%, var(--secondary) 50%, var(--secondary-gradient) 51%, var(--secondary-gradient) 100%);
    --modal-header-bg-linear: linear-gradient( 179.4deg, var(--secondary) 0%, var(--secondary) 50%, var(--secondary-gradient) 51%, var(--secondary-gradient) 100%);
}

html,
body {
    height: 100%;
    color: var(--default-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.loading-text {
    text-align: center;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: var(--default-font-color);
    /* position: absolute !important; */
    /* padding: 10px; */
}

.loader-1 {
    /* border: 1px solid #eeeeee; */
    border-top: 3px solid var(--primary);
    border-radius: 50%;
    position: absolute !important;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
    z-index: 999;
}

.loader-2 {
    /* border: 1px solid #eeeeee; */
    border-top: 3px solid var(--primary);
    border-radius: 50%;
    position: absolute !important;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    animation-direction: reverse;
    z-index: 999;
}

.loader-3 {
    /* border: 1px solid #eeeeee; */
    border-top: 3px solid var(--primary);
    border-radius: 50%;
    position: absolute !important;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    z-index: 999;
}

.loader-icon {
    color: var(--primary);
    /* position: absolute !important; */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bubblingG {
    text-align: center;
    width: 78px;
    height: 49px;
    margin: auto;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 24px auto;
    background: rgb(0, 0, 0);
    border-radius: 49px;
    -o-border-radius: 49px;
    -ms-border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    animation: bubblingG 1.5s infinite alternate;
    -o-animation: bubblingG 1.5s infinite alternate;
    -ms-animation: bubblingG 1.5s infinite alternate;
    -webkit-animation: bubblingG 1.5s infinite alternate;
    -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0, 0, 0);
        transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        transform: translateY(-20px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0, 0, 0);
        -o-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0, 0, 0);
        -ms-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0, 0, 0);
        -webkit-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(0, 0, 0);
        -moz-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgb(255, 255, 255);
        -moz-transform: translateY(-20px);
    }
}

button,
.btn {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.btn-big {
    text-transform: uppercase;
    color: #fff !important;
    padding: 20px 30px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.btn-big:hover {
    -webkit-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.75) !important;
    color: #fff !important;
    transform: translateY(-5px);
}

button:disabled:hover {
    transform: none;
    box-shadow: none !important;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
}

a,
button,
*:focus {
    color: #000;
    box-shadow: none !important;
    cursor: pointer;
    outline: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none !important;
    color: #555;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: solid 2px var(--primary) !important;
}

.ng-valid[required],
.ng-valid.required,
.ng-valid:not(form) {
    border-left: 5px solid #42a948;
    /* green */
}

.ng-invalid.ng-dirty:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.modal-content {
    border-radius: 0px !important;
    border: none !important;
}


/* .toolbar {
  position: relative;
}

.toolbar:before {
  font-family: FontAwesome;
  content: "\f002";
  position: absolute;
  right: 13px;
  width: 10px;
  height: 10px;
  top: 6px;
  color: #00a99d;
} */

@media screen and (max-width: 1024px) {
    .btn-big {
        padding: 10px 20px;
    }
}


/* scroll bar theming */


/* firefox */

* {
    scrollbar-color: var(--primary) var(--light);
}


/* blink scroll bar custom design */

::-webkit-scrollbar-thumb {
    background: var(--primary);
    width: 10px;
    border: 1px solid #eee;
    margin: 5px;
}

::-webkit-scrollbar {
    background: #eee;
    width: 10px;
    height: 10px;
    margin: 5px;
    cursor: pointer;
}

.default-img {
    position: relative;
    background-color:#e6e6e6;
  }