<div id="collapseExample" class="col-lg-4">
  <div class="toolbar">
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        espèces
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <input type="text">
  </div>
  <div class="obs-found">
    <p>{{ sightsFeatures?.length }} observations trouvées !</p>
  </div>
</div>
<div id="list" >
  <div *ngFor="let s of sightsFeatures; let i=index;" routerLink="" class="list-group-item">
    <div class="espece">
      <img src="../../assets/Azure-Commun-019.JPG" alt="First slide">
      <div class="infos">
        <a [routerLink]="['/synthesis/species', s.properties.cd_nom]" style="cursor:pointer">
          <h5>{{s.properties.common_name}}</h5>
        </a>
        <p>Observé par <span>{{s.properties.sci_name}}</span></p>
        <p>le <span>{{s.properties.date}}</span></p>
      </div>
      <div class="hide">
          <i class="fa fa-binoculars"></i>
      </div>
    </div>
  </div>
</div>
<div class="toggle-list col-sm-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  <i class="fa fa-chevron-left"></i>
</div>
