<div class="container">
  <div class="row">
    <h1>{{title}}&nbsp;<span class="badge badge-pill badge-primary">{{programCount}}</span></h1>
    <div class="container" id="main">
      <div class="row justify-content-center">
        <div *ngFor="let s of programFeatures; let i=index;" class="col col-lg-4 col-md-6 col-sm-12">
          <div class="text-center">
            <!-- <div class="card text-center ">
            <div class="card-body"> -->
            <div class="img-hover" [ngbTooltip]="s.properties.short_desc">
              <img class="rounded-circle img-responsive img-rounded" width="200" height="200" src="../../assets/prog1.jpg"
                alt='customer image' [routerLink]="['programs', s.properties.id_program, 'sights']" />
            </div>
            <h5 class="card-title">{{s.properties.title}}&nbsp;
              <span class="badge badge-info" (click)="open(s.properties.title, s.properties.long_desc)" ngbTooltip="Plus d'informations sur ce programme">
                <!-- <i class="fa fa-info-circle"></i> -->
              </span>
            </h5>
            <!-- </div>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
