.programs {
  padding: 0px;
}

.programs .row {
  margin: 0px;
}

.programs .row h1 {
  width: 100%;
  color: #fff;
  background: var(--primary);
  background: -moz-linear-gradient(
    179.4deg,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--dark-primary) 51%,
    var(--dark-primary) 100%
  );
  background: -webkit-linear-gradient(
    179.4deg,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--dark-primary) 51%,
    var(--dark-primary) 100%
  );
  background: linear-gradient(
    179.4deg,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--dark-primary) 51%,
    var(--dark-primary) 100%
  );
  font-size: 1.5rem;
  padding: 6px 16px;
  text-transform: uppercase;
  text-align: center;
}

.programs .text-center {
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.8;
}

.programs .text-center:hover {
  opacity: 1;
  cursor: pointer;
}

.programs .text-center .img-hover {
  /* padding top 100% permet à la div d'avoir un ratio height/width égal peut importe le format d'image */
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s ease-in-out;
  margin-bottom: 30px;
  border-radius: 50%;
}

.programs .text-center img {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.programs .text-center:hover img {
  transform: translateY(-5px);
}

.programs .text-center:hover img {
  transform: translateY(-5px);
}

.programs .text-center .short_desc {
  font-size: 14px;
  color: #111;
  background: #eee;
  padding: 5px 5px;
  margin-bottom: 0px;
  border-radius: 3px;
  position: relative;
}

.programs .text-center .short_desc h1 {
  background: inherit;
  font-size: 16px;
  color: inherit;
  margin: 0px;
}

.text-center h5.card-title {
  min-height: 48px;
}

.programs .text-center .short_desc:before {
  content: " ";
  background: #eee;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 15px;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 29%, 10% 100%, 100% 100%);
  width: 25px;
}

@media screen and (max-width: 991px) {
  .programs .text-center {
    opacity: 1;
  }
}

@media screen and (max-width: 775px) {
  .programs .img-hover {
    max-width: 200px;
    margin: 0 auto;
    padding-top: 50% !important;
  }
  .programs .text-center{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .text-center h5.card-title {
    min-height: inherit;
  }
  .programs .text-center {
    margin-top: 0px;
  }
  .programs .text-center img {
    margin-bottom: 15px;
  }
}



/* CARDS */

#programs {
  display: flex;
  justify-content: center;
  min-height: inherit;
}

#programs-cards {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

#programs-cards .card {
  /* flex: 1 1 0; */
  margin: 10px auto;
  /*20px*/
  border-radius: 0px;
  width: 365px !important;
  height: 500px !important;
}

#programs-cards .card h3,
#programs-cards .card p {
  padding: 0px 10px;
}

#programs-cards .card .card-content {
  flex-grow: 1;
}

#programs-cards .card .card-body {
  height: 180px !important;
  overflow-y: auto;
  margin-bottom: 5px;
}

#programs-cards .card .card-body h1,
#programs-cards .card .card-body h3 {
  font-size: 16px;
}

#programs-cards .card img {
  max-height: 200px;
  object-fit: cover;
}

#programs-cards .card h3 {
  font-size: 1.2em;
}

#programs-cards .card a {
  background: var(--primary);
  margin: 0 auto;
  margin-bottom: 10px;
  flex-grow: 0;
  text-align: center;
}
