table.dashboard-table {
    font-size: 0.85em;
}

div.dashboard-program {
    padding: 5px;
}

div.dashboard-program-header {
    display: flex;
    justify-content: space-between;
}

div#dashboardMap {
    height: 100%;
    min-height: 450px;
}

p.dashboard-popup {
    padding: 10px;
}